[2020-07-20 21:49] erickdeoliveiraleal commented on #4714
I think it's related to #4550. It was fixed, but 2.3.15 is not released yet with this long awaited fix. Wildfly 20.0.1 already incorporated this fix.

[2020-07-21 14:19] #4716 closed

[2020-07-21 16:54] erickdeoliveiraleal commented on #4704
WildFly 20.0.1 fixed it.

[2020-07-22 11:59] erickdeoliveiraleal opened #4734 "ViewParam + Ajax Call issue"
I still have a problem with JSF 2.3 related to ViewParam, I tested it with WildFly 21 (released october 2020) and the bug is still there. The code is in the following repositories: Jetty example: https://github.com/erickdeoliveiraleal/primefaces-test/tree/viewparam Wildfly example https://gitlab.com/erickdeoliveiraleal/simpleproject

Note that Wildfly already incorporated all the fixes recently do

[2020-07-22 12:05] erickdeoliveiraleal commented on #4734
@soul2zimate can you have a look? I will try again to reduce the code to not use PrimeFaces.

[2020-07-22 12:15] erickdeoliveiraleal commented on #4714
Looks like issue is stil really there. https://github.com/eclipse-ee4j/mojarra/issues/4734

[2020-07-22 12:15] erickdeoliveiraleal commented on #4704
Looks like the issue is still there https://github.com/eclipse-ee4j/mojarra/issues/4734

[2020-07-22 12:16] erickdeoliveiraleal commented on #4678
I also have a problem related to ajax in a datatable https://github.com/eclipse-ee4j/mojarra/issues/4734

[2020-08-11 13:26] fjuma commented on #4729
@arjantijms Any updates on this one?

[2020-08-11 14:14] arjantijms commented on #4729
@fjuma not yet, but I'll give it a shot. Note that a RC in Maven central is not really necessary in order to run tests. Adding the staging repos to a pom or e.g. settings.xml should be enough:

[code]

[2020-08-11 14:56] fjuma commented on #4729
Thanks, @arjantijms!

[2020-08-11 15:23] arjantijms commented on #4729
@fjuma Mojarra RC3 (which is the latest now) is released here: https://repo1.maven.org/maven2/org/glassfish/jakarta.faces/3.0.0-RC3/

I still think it's not technically necessary, but if it helps you, then why not ;)

[2020-08-11 15:23] #4729 closed

[2020-08-11 18:57] fjuma commented on #4729
Thanks very much, @arjantijms.

[2020-08-23 19:37] RanabirChakraborty opened #4735 "JSF deployment failure due to UnsupportedOperationException when javax.faces.FACELETS_VIEW_MAPPINGS is defined"
1. Configure the following javax.faces.FACELETS_VIEW_MAPPINGS setting in web.xml of your JSF application (For example, add the following web.xml to [tasks-jsf](https://github.com/jboss-developer/jboss-eap-quickstarts/tree/7.3.x/tasks-jsf) in JBoss EAP QuickStarts):
[code]
2.  Start Wildfly 20.0.1.Final and Deploy the application

3. You will see the deployment failure due to "UnsupportedOperationE

[2020-08-28 11:17] alwin-joseph commented on #4725
Just for clarification, @gerdogdu @arjantijms Can you please help confirm if all the references of http://xmlns.jcp.org/xml/ns/javaee has been replaced with the latest https://jakarta.ee/xml/ns/jakartaee/.
I found the old schema referenced in below files and some others:
./impl/src/main/resources/com/sun/faces/facelets1_0-2_0toSchema.xsl
./impl/src/main/resources/com/sun/faces/metadata/taglib/jstl

[2020-09-04 10:18] alwin-joseph opened #4737 "More schema updates to jakartaee required"
This issue should be in continuation with https://github.com/eclipse-ee4j/mojarra/issues/4725

There are more references of javaee xsds in
 ./impl/src/main/resources/com/sun/faces/facelets1_0-2_0toSchema.xsl
./impl/src/main/resources/com/sun/faces/metadata/taglib/jstl-fn.taglib.xml
./impl/src/main/resources/com/sun/faces/metadata/taglib/html_basic.taglib.xml
./impl/src/main/resources/META-INF/moja

[2020-09-04 14:11] arjantijms commented on #4734
It would be very helpful to provide a reproducer that doesn't use PrimeFaces. If this is not possible, maybe the bug is in PF?

[2020-09-04 14:13] erickdeoliveiraleal commented on #4734
I dont believe it is PF bug, because with Mojarra 2.2 it works.

[2020-09-04 14:47] arjantijms commented on #4734
That does provide a good hint, though it could still be something PF does that just happens to work there. Anyway, a reproducer without PF would be really cool to have ;)

[2020-09-07 11:56] smillidge commented on #4737
I'll need a new RC for integrating into GlassFish

[2020-09-07 12:53] arjantijms commented on #4737
@smillidge Okay, I'll look at a new RC, and will also stage the Faces API with the latest dependencies update.

There's currently an error in the Mojarra 3.0 (complaint about unknown version), so I have to take look what's causing that.

[2020-09-08 08:01] Toru47 opened #4739 "Ajax render causes 'emptyResponse' error if form contains an CDATA section - Mojarra 2.3.9.SP01"
If a form contains an CDATA section, e.g. in javascript code, than the server answer is corrupted and throws an

emptyResponse: An empty response was received from the server. Check server error logs.

The problem in Mojarra 2.3.9.SP01 is that the CDATA section isn't removed by the server. So there's an CDATA section embedded into another one what is syntactically not permitted. In Mojarra 2.3.3.S

[2020-09-14 14:20] bzurmaar commented on #4714
Sorry for the long delay. I can confirm the bug is still present in wildfly 20.0.1, i.e. Mojarra 2.3.9.SP11.

[2020-09-18 12:05] wafa-ogh commented on #4326
Hello, please what is the tool mentioned above for analyzing the performance issue ?
I'm facing the same issue on Mojarra 2.3.9.SP06
Using a phase listener, the RESTORE_VIEW phase has taken most of the request handling time, but could not conclude if it is the same problem mentioned here

[2020-09-23 04:49] alwin-joseph commented on #4737
Is the new RC scheduled to be released and integrated to glassfish soon.

[2020-09-26 17:25] arjantijms commented on #4737
There were multiple issues with RC3. One issue was related to an internal config file having the wrong namespace. I looked at this several time but just missed it, my apologies for that. I finally found it after debugging into the very depth of the thing.

Another issue had to do with CDI activation and the 2.3 and pre-2.3 version in the faces-config file that was used for this before. With all co

[2020-09-27 13:12] arjantijms opened #4742 "Compatibility certification request for Eclipse Mojarra 3.0.0"
- [x] Organization Name ("Organization") and, if applicable, URL\
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)\
  [Mojarra 3.0.0](https://eclipse-ee4j.github.io/mojarra)
- [x] Specification Name, Version and download URL\
   [Jakarta Server Faces 3.0](https://jakarta.ee/specifications/faces/3.0/)
- [x] TCK Version, digital SHA-256 fingerprint and download URL\

[2020-09-29 16:03] vsvetoslavov opened #4743 "The default value for com.sun.faces.clientStateTimeout is invalid"
The constructor in ``WebConfiguration`` for the ``ClientStateTimeout`` value defines the default value as ``""``.
The ``init()`` method of ``ClientSideStateHelper``, however, contains the following:

[code]

So if the value in the _web.xml_ is invalid, an attempt is made to read ``""`` as ``Long``, which in turn results in ``NumberFormatException``.
The above behaviour is present in _2.3.9.SP03_ (

[2020-10-08 07:11] rmartinc commented on #4735
Just some context about this issue. Wildfly/undertow added a feature recently to better follow the servlet 4.0 spec and now it forbids the usage of the `ServletContext.getServletRegistrations` method when the registration is programmatic. This is also valid for servlet context listeners that are registered using a TLD, like the `ConfigureListener` in the mojarra implementation. Check the [servlet

[2020-10-13 00:46] lprimak commented on #4431
Getting this error as well

[2020-10-13 00:58] lprimak commented on #4431
The PR provided should fix the issue

[2020-10-13 09:55] arjantijms commented on #4431
Unfortunately the PR didn't pass the IP check :(

[2020-10-13 20:37] arjantijms commented on #4431
Thanks a lot! :)

[2020-10-14 16:07] erickdeoliveiraleal commented on #4714
@bzurmaar maybe opening a bug at redhat: https://issues.redhat.com/browse/WFLY-0 can help too

[2020-10-14 16:10] erickdeoliveiraleal commented on #4734
@arjantijms it's related to this issue #4714 which has an running code with pure mojarra

[2020-10-14 18:53] erickdeoliveiraleal commented on #4734
@arjantijms  I was able to reduce to a pure mojarra code. If you can, please look to this issue.

[2020-10-15 03:56] soul2zimate commented on #4734
@arjantijms @erickdeoliveiraleal I don't understand why the exception appears at the second time, but this `javax.el.PropertyNotFoundException: Target Unreachable, [testClass] returned null`  reminds me errors relate to [activating CDI in JSF 2.3](https://github.com/eclipse-ee4j/mojarra#activating-cdi-in-jsf-23)

@erickdeoliveiraleal Could you try the solution at https://www.thetopsites.net/articl

[2020-10-15 16:16] erickdeoliveiraleal commented on #4734
I used it now and I got the same result.

[2020-10-15 16:39] codylerum commented on #4734
@erickdeoliveiraleal This is definitely an interesting case which may be related to some extreamly intermittent issues I've been having with Mojarra and Wildfly going back to earlier wildfly released (at least 14 and may earlier). The issue always presents as a `@ViewScoped` bean which ends up being null after post back. The bean was previously initialized and the `@PreDestroy` was never called.

[2020-10-15 23:04] erickdeoliveiraleal commented on #4734
It's not intermitent, it's always present, if you copy and paste my code and run on WildFly 21 the error appears, just enter the page without any parameters filled, Press the button 2 times and the error appears.

[2020-10-16 20:33] erickdeoliveiraleal commented on #4734
I updated the code

It's not intermitent, it's always present, if you copy and paste my code and run on WildFly 21 or any other server the error appears, I posted an example in Jetty using primefaces-test repository, just enter the page without any parameters filled, press the button more than one time and the error appears.  I tested it against other servers and different versions of JSF 2.3, the

[2020-10-17 01:25] erickdeoliveiraleal commented on #4734
[project.zip](https://github.com/eclipse-ee4j/mojarra/files/5394828/project.zip)
simple maven project with pure JSF to run on WildFly or other server url to test: http://localhost/project-0.0.1-SNAPSHOT/test.xhtml

[2020-10-19 10:34] soul2zimate commented on #4734
It seems this fails due to the same broken change made in https://github.com/javaserverfaces/mojarra/commit/4c74d1f since Mojarra 2.3. That change leads to a call on `getConvertedValue(context, submittedValue);` with a null `submittedValue` inside `UIInput.validate ()` method. Fix made for #4550 did not change that.

IMHO, getting a converted value for a null value doesn't make sense. However the

[2020-10-23 19:30] #4556 closed

[2020-10-23 19:53] arjantijms opened #4765 "Remove legacy JSF 1.2 view handler support"
Mojarra contains an emulation of the view handler behaviour from JSF 1.2. Practically this means that if you map the FacesServlet to *.xhtml, and then request a (facelet based) view, you get an infinite recursion.

The emulation is activated among others when a faces-config.xml with version 1.2 is present.

This legacy emulation has been in JSF throughout the 2.x series, and it's now time to let i

[2020-10-23 22:16] #4765 closed

[2020-10-23 22:59] arjantijms opened #4768 "Remove Mojarra build-in components "mojarra_ext""
Mojarra contains 3 ancient and unmaintained components:

[code]

It's time to let these go.

[2020-10-23 23:45] arjantijms opened #4769 "Remove ancient check for Facelets 1.1.x standalone lib on cp"
In `com.sun.faces.config.configprovider.MetaInfFaceletTaglibraryConfigProvider` there's still this:

[code]

[2020-10-25 09:01] Edwardiv1 commented on #4306
I also have this exact problem using Tomcat 8.5 and JSF 2.3.

[2020-10-26 15:33] fjuma commented on #4735
@arjantijms Would you be able to take a look at the PR that @RanabirChakraborty created for this issue? Thanks!

[2020-10-26 20:53] #4769 closed

[2020-10-26 20:54] #4768 closed

[2020-10-26 20:55] #4674 closed

[2020-10-26 20:58] arjantijms opened #4772 "Update tests for Faces 4 - Servlet 4.0"
With the namespace change from javax to jakarta in Faces 3, and the removal of JSP, the managed bean system etc for Faces 4, many of the tests won't run anymore.

Plan:

Migrate tests from test to test2, where they will be updated and executed using Arquillian.

[2020-10-26 21:30] #4458 closed

[2020-10-26 21:32] #4772 closed

[2020-10-26 21:37] arjantijms opened #4775 "Remove JSP support"
JSP support in Faces has been deprecated since JSF 2.0. JSP never was a good fit for Faces, and has been replaced by Facelets for over 11. It's now time actually remove it.

See also #4402

[2020-10-28 20:00] #4775 closed

[2020-10-28 23:24] arjantijms opened #4779 "Remove mojarra-jsf-api-probe-provider.xml and probe methods in FacesServlet"
Mojarra provides a `mojarra-jsf-api-probe-provider.xml` file for the GF Admin Monitoring (`org.glassfish.main.admin:monitoring-core`), but the required `MANIFEST.MF` entry `Probe-Provider-Xml-File-Names` hasn't been present in the Mojarra jar ever since the merged jar `javax.faces.jar` was used, which is about 10 years ago.

As this has been unused for almost 10 years, let's remove it.

[2020-10-29 21:57] #4779 closed

[2020-10-30 09:49] sergey-morenets commented on #4306
@Edwardiv1  The next month Jakarta EE 9 (with JSF 3.0) will be released. I guess we can try to check this issue on the latest RC.

[2020-10-30 19:05] arjantijms commented on #4306
As per the above comment, the activation of WebSocket was problematic. At the time Tomcat just seemed to did the right thing, but maybe something changed here. For Tyrus (Eclipse WebSocket implementation) I kinda hacked support for it in as per this code:

https://github.com/eclipse-ee4j/mojarra/blob/master/impl/src/main/java/com/sun/faces/config/FacesInitializer.java#L190

For EE 10 we have the f

[2020-10-31 23:36] arjantijms opened #4784 "Remove managed bean code"
The managed bean system will be removed for Faces 4.0.

Spec issue: https://github.com/eclipse-ee4j/faces-api/issues/1547

[2020-11-02 14:34] arjantijms commented on #4734
@BalusC Can you take a look at it? I think you're most experienced with the `EMPTY_STRING_SUBMITTED_VALUES_AS_NULL` saga.

[2020-11-04 13:13] arjantijms opened #4795 "Remove native expression language code"
See spec issue https://github.com/eclipse-ee4j/faces-api/issues/1548

[2020-11-05 16:14] arjantijms opened #4797 "Remove redundant ValueExpressionAnalyzer"
Since the beginning of time, Mojarra has this comment in its source:

[code]

Since we're long passed Expression Language 1.3 (we're at 4.0 now), we indeed don't need that anymore. The following code using the build-in method of expression language does the same thing:

[code]

[2020-11-05 18:19] #4797 closed

[2020-11-12 11:57] scsynergy opened #4799 "The first websocket that gets triggered from any deployed war file on server prevents all websockets in all other deployed war files from working"
**Two** war files are deployed on the same Wildfly instance and both use websockets. The **first** page with f:websocket that gets loaded by the browser works perfectly well. Any websocket on any other page of the **same** war file also works perfectly well. Yet, any websocket of the **second** war file will not work until the server is restartet. Then the first page with a websocket that gets loa

[2020-11-12 18:42] christophs78 opened #4800 "Resources: set cache-control-header instead of expires-header"
https://github.com/eclipse-ee4j/mojarra/blob/master/impl/src/main/java/com/sun/faces/application/resource/ResourceImpl.java#L184 currently set´s expires-header.

IMO it´s today state-of-the-art to set `cache-control: max-age=XXX` instead of `expires` for resources which should be cached. And set `cache-control: no-cache` for resources which should not be cached.

Details: https://developer.mozilla

[2020-11-15 11:37] BalusC commented on #4734
https://github.com/javaserverfaces/mojarra/commit/4c74d1f says this

My initial proposal was to modify ONLY the `UIViewParam` class as described here: https://github.com/eclipse-ee4j/mojarra/issues/3343#issuecomment-382226535. But it was eventually implemented in `UIInput` superclass, hereby also affecting all other input components extending from it, including the `UISelectOne`/`UISelectMany` whi

[2020-11-15 15:50] BalusC commented on #4734
Hm.

I cannot reproduce your problem but I have spotted a handful things being odd in your reproducer:
1. `<f:viewParam>` unexpectedly uses `value="#{bean.entity.id}` instead of `value="#{bean.entity}`.
2. `TestClassConverter` unexpectedly gets/sets object as attribute of component instead of really converting.
3. `itemValue` of default selection is unexpectedly a literal string of `"null"` instea

[2020-11-15 15:54] erickdeoliveiraleal commented on #4734
Really? You tested against JSF 2.2 and couldn't verify a different behaviour?
Clicking button second time with mojarra 2.2 doesn't cause an exception...

[2020-11-15 15:55] BalusC commented on #4734
I tested against Mojarra 2.3.14.

[2020-11-15 15:59] erickdeoliveiraleal commented on #4734
Yes, I tested against 2.3.14 and 2.2.20 and there's an exception that shows in JSF 2.3 and not in 2.2

[2020-11-15 15:59] erickdeoliveiraleal commented on #4734
until tomorrow I will test it again and report here.

[2020-11-15 16:01] BalusC commented on #4734
Have you actually read the entire comment? I have fixed at least three incorrect things in your code snippet. It could be in one of them. I'll analyze further.

[2020-11-15 16:05] erickdeoliveiraleal commented on #4734
Sorry for misinterpret your answer @BalusC  and thanks for the analysis

[2020-11-15 16:15] BalusC commented on #4734
Sorry, I still cannot reproduce it.

I even downloaded WildFly 21 and tried its bundled Mojarra 2.3.14.SP01 instead but it's also working fine over there.

I'll try checking out your actual project.

[2020-11-15 16:23] BalusC commented on #4734
Nevermind, I have reproduced it with the provided code snippet when opening the page via `issue4734.xhtml` without passing the `?id=1` argument. This gives something to work with.

[2020-11-15 17:33] BalusC commented on #4734
I have analyzed the logic and it appears to be a general problem with input components. This won't necessarily only happen in f:viewParam, but all other inputs are prone to this issue as well when the nested property is null.

Indeed, generally the converter shouldn't need to be located when the supplied submitted value is null, but the spec doesn't forbid this condition. So an obscure custom conv

[2020-11-15 17:58] BalusC opened #4802 "Sync fixes/improvements of o:socket into f:websocket"
Following o:socket fixes/improvements are absent in f:websocket:
- https://github.com/omnifaces/omnifaces/issues/503
- https://github.com/omnifaces/omnifaces/pull/566

Make sure these are catched up into f:websocket.

[2020-11-15 18:11] BalusC commented on #4802
Can you review/merge https://github.com/eclipse-ee4j/mojarra/pull/4803 @arjantijms?  Thanks!

[2020-11-15 18:12] BalusC commented on #4494
Already done.

[2020-11-15 18:12] #4494 closed

[2020-11-15 18:16] BalusC commented on #4380
EE4J_8 branch slipped through during the Oracle-Eclipse transfer. In the end it never made it into Mojarra 2.3. The sole changes are already done via a new issue #4802. The EE4J_8 branch can be safely deleted now.

[2020-11-15 18:16] #4380 closed

[2020-11-15 18:22] BalusC commented on #4357
Just use

[code]
with
[code]

[2020-11-15 18:22] #4357 closed

[2020-11-23 11:29] wafa-ogh opened #4811 "RESTORE_PHASE is slow on Mojarra 2.3"
Hello All,

After upgrading from Mojarra 2.2.13 to Mojarra 2.3.9, RESTORE_PHASE becomes slow. In my case, the response time of requests from views with at least 5000 components, has increased 12 times compared to 2.2, an ajax action that used to take ~600 to ~800 milliseconds, takes now several seconds to complete :(
From looking at the differences on the two versions, it was the ComponentSupport.

[2020-11-23 15:57] rmartinc opened #4812 "New WARNING error message on undeploy when there are duplicate registrations of ConfigureListener"
Mainly the same issue fixed in #3801 but with a new second message. The new severe message was introduced by the change in #4587 with this commit https://github.com/jboss/mojarra/commit/b45a4e4a7dda21b0a0c8b30d43e249e44a5b1f2a.

This new [line](https://github.com/jboss/mojarra/commit/b45a4e4a7dda21b0a0c8b30d43e249e44a5b1f2a#diff-3f75b18a1a7fd1e67a74dc03b9b8ef4a6987c6429e3211134ed55f60be6737a9R363)

[2020-11-26 13:49] brooksie opened #4814 "Attributes on custom FacesValidators not working when managed=true"
I get the following error when using a custom validator with attributes under JSF2.3 / Mojarra 2.3.14.SP01 / Wildfly21 if the @FacesValidator tag includes "managed=true". When managed is not set, the validator works correctly.

 `SEVERE [javax.enterprise.resource.webcontainer.jsf.facelets.tag.meta] (default task-2) /index.xhtml @18,58 maxValue="99" Unhandled by MetaTagHandler for type com.sun.face

[2020-11-30 03:25] james-z-repo opened #4815 "use mojarra, SecurityContext does't work"
jersey: 2.28
weld:2.4.3
Mojarra: 2.2.9
jdk:1.8

i am using jersey + weld app

[code]

[code]

First：When I visit Web page `\welcome.xhtml`  , it will be intercepted by JSF's servlet Holer, because JSF intercepts *.xhtml, so it will not enter the Jersey servlet。so' i got this error, this error is caused by @SecurityContext does't work.

[code]

after that, i got a web page, this page have't  interc

[2020-12-13 17:00] rsisto commented on #4572
Hi!
I'm just testing this out in Wildfly 21.
Same problem. It's just a test websocket, from a pluralsight course on java ee8 update course.
From a fresh wildfly start, everything works out. If I redeploy the application, I see infinite websocket equests from the client as noted by @DennisBayer .

Here's the project zip, in case anyone wants to try it out.
The test is with websocket.xhtml (where th

[2020-12-13 21:33] erickdeoliveiraleal commented on #4572
Could it be related to this open pulm request? https://github.com/eclipse-ee4j/mojarra/pull/4803

[2020-12-14 16:06] ThexXTURBOXx opened #4818 "[2.3.14] <h:dataTable>: Dependency to JSTL"
# Scenario
Add a <h:dataTable> listing a (custom) Iterable to a Facelet.

# Expected behavior
The dataTable should render the custom Iterable in a dataTable.

# Current behavior
Crash with the Exception below

# Exception
java.lang.NoClassDefFoundError: javax/servlet/jsp/jstl/sql/Result

# Reason/Solution
In this line: https://github.com/eclipse-ee4j/mojarra/blob/2.3.14/impl/src/main/java/javax/fa

[2020-12-14 16:27] arjantijms commented on #4818
It has already been removed in master ;)

See https://github.com/eclipse-ee4j/mojarra/commit/3beb869ce2789058ad71da68a1c49a142f52f747#diff-35ff9862219e1852cc4f7bff0b3c9d12f2842b7993aa365c38cdef22bb58e794

[2020-12-14 16:29] ThexXTURBOXx commented on #4818
Oh, I see, sorry and thank you!

Will there be another 2.x release in the near future with this "fix" (or rather change) applied? We are using JSF currently in a university project and are required to use 2.x and hand in until the end of January 2021 :)

[2020-12-18 15:42] volosied opened #4820 "Faces 3.0 Does Not Support JavaEE NameSpace in Flow.xml Files"
**UPDATE:  Sorry for the numerous comments. It's been a discovery process.**

https://github.com/eclipse-ee4j/mojarra/blob/1c904bfeb193530624f95628a66da029f270bb1d/impl/src/main/java/com/sun/faces/config/processor/FacesFlowDefinitionConfigProcessor.java#L281-L282

`xpath.setNamespaceContext(new FacesConfigNamespaceContext());`
should be changed to handle both https://jakarta.ee/xml/ns/jakartaee an

[2020-12-18 21:39] volosied commented on #4820
For the other application I tested, I see that the behavior changed between the RC3 and RC4 releases.

Looks it it narrows it down to these commits: https://github.com/eclipse-ee4j/mojarra/compare/3.0.0-RC3-RELEASE...3.0.0-RC4-RELEASE

I've add this second application here: https://github.com/volosied/sample-apps/tree/main/flows-failure

The pom uses the RC3 jar but the additional war contains the

[2020-12-18 22:04] volosied commented on #4820
Actually, I tested test-javaee6web-basicFlow on Tomcat and it's not working with RC3 either. Not sure what's occurring here.

Feel free to test yourself: https://github.com/volosied/sample-apps/tree/main/test-javaee6web-basicFlow

[2020-12-22 02:35] volosied commented on #4820
Closing as the *flow.xml needs  to use the new jakarta schema.  Otherwise, the returns are not identified when processing the xml:

https://github.com/eclipse-ee4j/mojarra/blob/1c904bfeb193530624f95628a66da029f270bb1d/impl/src/main/java/com/sun/faces/config/processor/FacesFlowDefinitionConfigProcessor.java#L453

Problematic schema:
https://github.com/volosied/sample-apps/blob/main/flows-failure/sr

[2021-01-04 10:06] scsynergy commented on #4799
Created the same bug report here because I cannot tell whether the bug is in Mojarra or the Wildfly integration of Mojarra:
https://issues.redhat.com/browse/WFCORE-5234

[2021-01-04 16:04] spyrkob opened #4821 "NPE in tests"
changes introduced in #4807 are causing test failures with NPE in ComponentStateHelper#eval like:

[code]

[2021-01-08 20:21] volosied commented on #4820
Reopening as I think the old 2.2/2.3 namespaces  should still be accepted?

[2021-01-11 13:29] murathazer commented on #4260
Hi, is there any progress or workaround for this issue? We bumped same exception under heavy server load and can't find a workaround.

`java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:657)
	at java.util.ArrayList.get(ArrayList.java:433)
	at javax.faces.component.AttachedObjectListHolder.restoreState(AttachedObjectListHolder.java:146)
	at jav

[2021-01-12 09:36] przemcio opened #4824 "Problem with state saving of dynamic components with/or without stateless view"
I have created an issue in original mojarra project.

https://github.com/javaserverfaces/mojarra/issues/4438

There is an inconsequence in recreation of the component tree.

Is there any proper approach to use transient/not transient components with dynamic sub tree components?

[2021-01-18 11:35] hussainnm commented on #4820
I found a similar issue with empty flow-definition file and raised it on the mailing-list
https://www.eclipse.org/lists/mojarra-dev/msg00144.html

Quoting text from email:

[2021-01-18 12:12] hussainnm commented on #4820
In my scenario, the empty flow.xml is getting created with **JAVAEE_XMLNS** and most likely running into the namespace conflict issue you have reported.

https://github.com/eclipse-ee4j/mojarra/blob/955c69197773e348186a7a24bb5abb55586e548d/impl/src/main/java/com/sun/faces/config/processor/FacesFlowDefinitionConfigProcessor.java#L120-L156

[2021-02-01 13:26] didiez commented on #4547
We are using `2.3.14` and the bug is still there.
Are there any plans to release another version in the `2.3` branch? The bugfix seems backported to `2.3` in 7144ebcd43ad963dd594ea584ec1d9b98b6f3848

[2021-02-01 13:36] manorrock commented on #4734
Please fix on 3.0 and master branch as well

[2021-02-01 13:38] manorrock commented on #4802
Please fix on 3.0 and master branch as well

[2021-02-01 13:38] manorrock commented on #4547
Please fix on 3.0 and master as well

[2021-02-01 15:42] pizzi80 opened #4828 "h:inputFile + f:ajax malformedXML: Top level node must be one of: changes, redirect, error, received: script instead."
Upload File with ajax support does not work as expected:
it's not possible to "render" a portion of the page
I got a js alert with this message:

_"malformedXML: Top level node must be one of: changes, redirect, error, received: script instead."_

This happen because inside jsf.js @ line 2938 -> 2941:

`if (getParseErrorText(xml) !== PARSED_OK) {
    sendError(request, context, "malformedXML");

[2021-02-01 15:46] manorrock commented on #4828
Feel free to create a PR with a fix

[2021-02-01 15:56] melloware commented on #4802
@manorrock @BalusC Is there some blog somewhere we can read about Mojarra status?  it seems there is little to no activity on this project with 46 open PR's.  No activity on 2.3 release in a long time.  And the only recent activity is a 3.0 release which is the same as 2.3 but with Jakarta support.

It feels like this project is dead and I am hoping that is not the case.

[2021-02-01 16:21] manorrock commented on #4802
@melloware It has pivoted to being fully community driven through the Eclipse Foundation so this means it is dependent on individuals doing the work in their spare time. Feel free to join in and move it along. Now is your chance to shine!

[2021-02-01 16:23] melloware commented on #4802
Thank you @manorrock .  OK great i have submitted PR's here and reviewed others PR's here but are they short on main committers reviewing and merging?  Is the idea to merge to 2.3 and 3.0 but leave the old branches behind?  I am more than willing to help in any way I can.

[2021-02-01 16:33] manorrock commented on #4802
The only branches that are currently maintained are 2.3 and later. For older branches you will need to work with your application server vendor.

[2021-02-03 14:34] BalusC commented on #4828
Curious. In order to exclude this to be caused by browser itself (or one of its extensions), can you please show the raw contents of the response?

E.g.

![image](https://user-images.githubusercontent.com/173372/106761489-4009f580-660b-11eb-93b3-6e742fdae536.png)

[code]

Then we can advance based on whether the problematic `<script />` part is actually present in the response (thus added by JSF)

[2021-02-04 15:16] pizzi80 commented on #4828
I've disable all my chrome extensions and the result is the same:

The raw response doesn't contain neither the `<script/>` tag
nor the modified part of html which should be the name of the uploaded file

`<?xml version='1.0' encoding='UTF-8'?>
<partial-response>
  <changes>
    <update id="preview">
      <![CDATA[<div id="preview" style="border: 1px solid red; margin: 10px; padding: 10px;"></div

[2021-02-05 07:53] BalusC commented on #4734
You mean, create PR for https://github.com/eclipse-ee4j/mojarra/compare/3.0...2.3 and once merged then another PR for https://github.com/eclipse-ee4j/mojarra/compare/master...3.0?

[2021-02-07 01:48] melloware commented on #4503
This is not stale and has a PR.

[2021-02-08 19:37] Emkas commented on #4516
Still no comment on the PR.

[2021-02-09 17:14] melloware opened #4830 "UIRepeat: Does not reset EL var"
**Describe the defect**
The "resetValues=true" attribute + UIRepeat behave not as expected (please check the attached application and the code snippet below)

This has been a problem for 8 years+ according to @BalusC here on Stack Overflow: https://stackoverflow.com/questions/14398960/magic-uirepeat-var

**Reproducer**
Test application is attached
[primefaces-test-master.zip](https://github.com/pr

[2021-02-09 17:26] melloware commented on #4830
Originally reported at PrimeFaces: https://github.com/primefaces/primefaces/issues/6964

[2021-02-11 09:26] jbescos opened #4832 "NullPointerException in DemuxCompositeELResolver"
This is the cause in the version 1.2_15:
[code]
Null pointer is happening in this line, the ELResolver is null in the index i:
`Object localObject = paramArrayOfELResolver[i].getValue(paramELContext, paramObject1, paramObject2);`

After some investigation in the code, that class DemuxCompositeELResolver does not allow to insert null ELResolver. The index is increased after a new ELResolver is inse

[2021-02-17 16:21] jbescos commented on #4832
It looks possible to invoke com.sun.faces.application.ApplicationImpl#performOneTimeELInitialization() from multiple threads.

There are 3 ways to invoke this:
[code]
Only getELResolver() synchronizes:
[code]
The other two checks it is not null, but there is no synchronization:
[code]

Then it makes it possible to invoke performOneTimeELInitialization() more than 1 time.

[2021-02-17 23:14] manorrock commented on #4832
@jbescos This version of Mojarra only maintains 2.3 and later. If you need support on any version earlier you are recommend to contact your vendor.

[2021-02-17 23:14] #4832 closed

[2021-02-21 16:15] BalusC commented on #4734
Done.

[2021-02-21 16:15] #4734 closed

[2021-02-21 16:15] BalusC commented on #4802
Done.

[2021-02-21 16:15] #4802 closed

[2021-02-23 17:12] ttsiebzehntt commented on #4715
@arjantijms It's been a while... Will there even be a 2.3.15 release?

[2021-02-25 11:59] pizzi80 opened #4837 "Question for JSF4: why not use always multipart/form-data? ... and js FormData for Ajax"
I usually use Primefaces for my projects since the beginning
and they automatically managed this when you use inputFile mixed with other inputs
so the developer does not have to differentiate the h:form enctype

When you develop a structured web application it's a good practise to create
templates and composite components (BalusC and ArjanTijms docet) but
if you have for example a template for a "

[2021-02-27 15:37] manorrock commented on #4378
Any news on this one?

[2021-02-27 17:32] arjantijms commented on #4378
All features are now enabled by default indeed. The "fake 2.2" mode has been removed.

[2021-02-27 17:42] manorrock commented on #4378
So this issue can be closed?

[2021-02-28 20:30] arjantijms commented on #4378
Sure, thx!

[2021-02-28 20:30] #4378 closed

[2021-03-08 14:01] manorrock commented on #4379
And progress on this one? Or should we close this as won't fix?

[2021-03-09 01:37] #4540 closed

[2021-03-09 01:37] #4520 closed

[2021-03-09 01:37] #4486 closed

[2021-03-09 01:37] #4495 closed

[2021-03-09 01:37] #4468 closed

[2021-03-09 01:38] #4466 closed

[2021-03-10 01:43] wklaczynski opened #4838 "Add flow faces based on SCXML"
I used a state machine to navigate jsf pages. I recreated full compliance with the SCXML specification https://www.w3.org/TR/scxml/. This has worked well for the projects we use for a long time. Everything is linked to JSF 2.3. No problem to extend to 4.0. You can combine the project with jakarta. Perfect for JSF navigation problem.
Navigation can be created on xhtml pages. Also in composites. Eac

[2021-03-11 14:50] manorrock commented on #4379
As there is an effective workaround I am closing this myself as a 'won't fix' because of resource constraints. If someone wants to move it forward then please do.

[2021-03-11 14:50] #4379 closed

[2021-03-17 16:55] kguelzau commented on #4562
Is there Workaround for this?

[2021-03-22 08:39] rudi1602 commented on #4354
Issue 4353 should not have been deleted, because it revealed connection between Issue and FullAjaxExceptionHandler and explained how jsf.js and primefaces.js differ and even providded js workaround.

[2021-03-24 15:52] RagingCactus opened #4839 "AjaxExceptionHandlerImpl logs stacktrace as message"
I am currently integrating [Sentry application monitoring](https://sentry.io) into a JSF application that is running on Mojarra 2.3. Events for Sentry are captured by integrating a `java.util.logging.Handler` into the logging stack. This handler then takes every logged error event and sends the corresponding message and stacktrace to Sentry where it is processed, for example by grouping stacktrace

[2021-03-24 22:07] manorrock commented on #4839
Feel free to create a PR with the change and some tests around it

[2021-03-24 22:09] manorrock opened #4840 "Integrate CDI module"
Deliver basic CDI support for some of the Faces factories

[2021-03-24 22:09] manorrock opened #4841 "Integrate Action module"
Delivers an action based lifecycle for Faces

[2021-03-26 20:49] #4650 closed

[2021-03-26 23:25] #4727 closed

[2021-03-26 23:38] #4830 closed

[2021-03-26 23:41] #4503 closed

[2021-03-27 00:38] #4839 closed

[2021-03-27 04:07] #4840 closed

[2021-03-27 04:14] manorrock opened #4847 "Simplify build"
For now only build against Java 8 and Java 11

[2021-03-27 04:16] #4847 closed

[2021-03-27 04:18] manorrock opened #4848 "Integrate REST module"
Delivers an REST lifecycle for Faces

[2021-03-27 10:05] BalusC opened #4850 "Faces 4.0: implement new FacesContext#getLifeCycle() method"
https://github.com/eclipse-ee4j/faces-api/issues/1557

There are a few compilation errors now.

[2021-03-27 10:23] #4850 closed

[2021-03-27 21:43] #4821 closed

[2021-03-27 21:49] #3795 closed

[2021-03-28 10:18] BalusC opened #4872 "Make sure that xmlns="http://www.w3.org/1999/xhtml" is not implied as required"
The default XML namespace of `http://www.w3.org/1999/xhtml` is optional and it is not at all required for functioning of Facelets.

However, when running Mojarra in development stage while omitting the `xmlns="http://www.w3.org/1999/xhtml"` from a basic Facelet, the following warning is emitted for every plain HTML element such as `<html>`, `<style>`, `<div>`, `<p>`, etc.
[code]
This is incorrect

[2021-03-28 14:33] melloware commented on #4715
Bump

[2021-03-29 11:44] luisnegrete-vungle opened #4880 "Mime type not recognized for Javascript files after ajax request"
Loading a Javascript file using the h:outputScript tag and setting the target property to head results in the following warning in the logs:

[#|2020-12-06T03:57:42.882+0000|WARNING|Payara 5.192|javax.enterprise.resource.webcontainer.jsf.context|_ThreadID=29;_ThreadName=http-thread-pool::http-listener-1(5);_TimeMillis=1607227062882;_LevelValue=900;_MessageID=jsf.externalcontext.no.mime.type.found;

[2021-03-29 19:52] melloware commented on #4634
@arjantijms This issue is safe to close it was resolved in 2.3.10

[2021-03-29 20:33] arjantijms commented on #4634
Thanks! I'll close it indeed then.

[2021-03-29 20:33] #4634 closed

[2021-03-30 21:28] christophs78 opened #4881 "Empty lists are discarded during state-saving"
.. so this state is not saved and EL is re-evaluated during the next request-cycle.

This causes following issues:
https://github.com/primefaces/primefaces/issues/7026
https://github.com/primefaces/primefaces/issues/7181
https://github.com/primefaces/primefaces/issues/6427

MyFaces preserves emtpy lists.

[2021-03-31 13:23] melloware commented on #4881
Nice work @christophs78

[2021-03-31 13:24] melloware commented on #4881
Shouldn't this fix be ported to 3.0 and 4.0 as well?

[2021-03-31 13:57] christophs78 commented on #4881
Yes, we should port it.

[2021-03-31 17:28] melloware commented on #4820
@arjantijms this looks like it was merged and can be closed.

[2021-04-03 09:14] hantsy opened #4893 "The new xmlns jakarta.faces in Facelets is working in the Mojarra 3.0?"
These days I am trying to create another template project for the Servlet 5.0 container, In the first stage, I want to add Weld, Mojarra, Jersey to it and make it run on Tomcat 10.0.x.

Please check here:

https://github.com/hantsy/jakartaee9-servlet-starter-boilerplate/

I followed the readme doc of this repository to add Mojarra, found the *hello.xhtml* did not work. Finally, I checked the `test

[2021-04-03 09:42] hantsy opened #4894 "The xmlns in facelets not update to jakarta.ee?"
I have not written Faces applications in the past months,  today when I created the sample facelets xhtml.

And check the vdl docs: https://jakarta.ee/specifications/faces/3.0/vdldoc/

The xmlns in the facelets still used the old jcp.

In Jakarta EE 9, all namespaces are changed to jakarta.ee, these are not changed?

[2021-04-03 10:02] christophs78 commented on #4893
3.0 has the old xmlns, 4.0 the new one
See https://github.com/eclipse-ee4j/mojarra/pull/4867

[2021-04-03 10:04] christophs78 commented on #4894
Maybe the same like your other issue?
3.0 has the old xmlns, 4.0 the new one
See #4867

[2021-04-03 12:14] hantsy commented on #4893
@christophs78 Thanks.

But please add a note to `hello.xhtml` code fragment, and explain the supported version. Originally when I read the info, I thought it is already supported in version 3.0.

[2021-04-03 12:14] #4893 closed

[2021-04-03 12:15] #4894 closed

[2021-04-05 10:00] BalusC commented on #4881
Please don't PR/merge this one yet.

The 3.0 and 4.0 are currently not fully up to date with recent 2.3 changes.

Among others https://github.com/eclipse-ee4j/mojarra/commit/57932b88d44a408ed16e7cf6025d5ebe8e55e17e is still not in 3.0/4.0 and overlapping your changes.

I'll sort out it.

[2021-04-05 10:32] BalusC commented on #4881
Everything is in 2.3 / 3.0 / 4.0 now and I've made sure that 2.3 is synced into 3.0 and then into 4.0.

Thank you for your contribution!

[2021-04-05 10:32] #4881 closed

[2021-04-05 10:36] BalusC commented on #4818
Closing off.

FYI: JSTL is provided out the box by normal Java EE servers. Most probably you was using a barebones servletcontainer such as Tomcat. In that case you'd indeed need to manually install JSTL along with JSF. Note that JSF has also (optional) dependency requirements on CDI and JSONP and Bean Validation and that these are also not per definition provided by a barebones servletcontainer.

[2021-04-05 10:36] #4818 closed

[2021-04-05 10:39] #4872 closed

[2021-04-05 11:34] BalusC commented on #4660
It's in 2.3/3.0/4.0 now.

[2021-04-05 11:34] #4660 closed

[2021-04-05 12:02] BalusC commented on #4261
I've merged it, but it turns out that it broke `Issue3833IT`, so I had to revert it.

Please review and re-create PR and make sure all tests pass.

[2021-04-05 12:09] BalusC commented on #4664
All tests passed.

[2021-04-05 12:29] BalusC commented on #4664
Upmerged into 3.0/4.0 as well. Closing off.

Thank you for your contribution!

[2021-04-05 12:29] #4664 closed

[2021-04-05 12:39] BalusC commented on #4735
All merged.

Made sure it's in 2.3/3.0/4.0.

[2021-04-05 12:39] #4735 closed

[2021-04-05 12:39] BalusC commented on #4735
Thank you for your contribution!

[2021-04-05 12:55] BalusC commented on #4735
All existing tests have passed in 2.3 :+1:

[2021-04-05 13:13] BalusC commented on #4677
I've backported the PR from master to 2.3.

Running all tests as we speak, if they all pass, then I'll merge.

[2021-04-05 13:19] manorrock opened #4901 "Release monthly milestone for Mojarra 4.0"
To allow folks to start testing Mojarra 4.0 I propose we do a milestone release monthly on a specific day of the month. I propose we do it on the 11th of every month to honor the release of the JSF 1.0 specification on 2004-03-11.

[2021-04-05 13:28] BalusC commented on #4677
All tests have passed :+1:

[2021-04-05 13:28] #4677 closed

[2021-04-05 13:32] manorrock commented on #4901
Please like this issue if you think this should be done!

[2021-04-05 13:58] BalusC commented on #4814
Indeed, this is not working as intended.

In the meanwhile consider using OmniFaces. Just install it and managed=true is not anymore necessary.

[2021-04-05 14:03] BalusC commented on #4704
Fixed over there.

[2021-04-05 14:03] #4704 closed

[2021-04-06 13:30] arjantijms commented on #4901
Okay, so then let's do the first milestone, `4.0.0-M1` on 11 April ;)

[2021-04-06 14:02] manorrock commented on #4814
The managed attribute was introduced as a means of not breaking the original contract of Converters/Validators (e.g. without CDI in the mix they would only get constructed once, they were not eligible for injection, and they were bound to a specific class-type, etceteras). Now if you are OK going all in on CDI then you could consider replacing all this and making sure that folks would not be surpr

[2021-04-06 17:12] raupachz opened #4903 "Mojarra 4.0 WIP namespace issue with Hello World Example"
Hello there,

there is some minor issue with the Hello World Example application on the landing page. I deployed the example on Apache Tomcat 10.0.4. Unfortunately the outcome is not what I expected.

Here is the `/hello.xhtml`:

[code]

And here is the rendered response:

[code]

For some unknown reason the components are not rendered. The page itself shows up. I could verify in the debugger that

[2021-04-06 17:54] christophs78 commented on #4903
Do you use Mojarra 3.0? (Not 4.0-SNAPSHOT)
Mojarra 3 still has the old Namespaces.
See https://github.com/eclipse-ee4j/mojarra/issues/4893 and https://github.com/eclipse-ee4j/mojarra/pull/4867.

[2021-04-06 17:58] raupachz commented on #4903
Hi @christophs78 ,

[code]

[2021-04-06 18:01] christophs78 commented on #4903
Yep. Please look at README.md of 3.0-branch. (old namespace)
https://github.com/eclipse-ee4j/mojarra/blob/3.0/README.md
I´ll do a PR to add a note regarding this to README.md of master. (It confused me a few day ago too.)

[2021-04-06 18:13] raupachz commented on #4903
Thanks a lot! Yes, maybe change the README. I did not check the closed issues and therefore missed it.

[2021-04-06 18:13] #4903 closed

[2021-04-06 19:24] BalusC commented on #4811
It has caused a public API leak. A few new public methods have been added to `UIComponent` while they should not have become part of the public API. I could make the `addToDescendantMarkIdCache()` and `removeFromDescendantMarkIdCache()` package-private, but the `getDescendantMarkIdCache()` method really couldn't be made package-private.

Hence I opted to store the `Map<String, UIComponent> descend

[2021-04-10 15:09] #4841 closed

[2021-04-12 12:58] BalusC commented on #4811
It's now merged nonetheless.

[2021-04-12 12:58] #4811 closed

[2021-04-13 07:14] rmartinc commented on #4646
@arjantijms I have back-ported the fix for 2.3 and 3.0 branch. At least we are interested in including this in the current 2.3 branch (plain cherry-pick was done and test working). Nevertheless I have also sent the same for 3.0 just in case, although I see that tests are not there for the moment (here minor modifications were needed).

* PR for 2.3: https://github.com/eclipse-ee4j/mojarra/pull/490

[2021-04-14 09:42] BalusC commented on #4646
Excellent.

Not a problem at all as long done on impl side!

[2021-04-14 09:47] #4646 closed

[2021-04-14 09:48] #4848 closed

[2021-04-15 11:01] BalusC commented on #4880
Norepro with this:
[code]
Please provide a reproducer.

[2021-04-15 13:07] fdelsert opened #4912 "Continous increase in number of DefaultFaceletFactory.idMappers entries"
I have a JSF component that dynamically adds composite components to its children.
To do so, I use the method described here: https://stackoverflow.com/a/15884546/1001248
Everything works fine but after several days of use with many users, I end up with a full heap.

By opening a heap-dump with _mat_, it turns out that the instance of _DefaultFaceletFactory.Cache<String,IdMapper>_ (_idMappers_) ta

[2021-04-15 20:19] christophs78 commented on #4715
Would be a good thing to release 2.3.15 within the next days/weeks.
A couple of people (including the organisation i work for on my day job) wait for this as prerequisite to be able to upgrade to PrimeFaces 10.

[2021-04-16 06:54] NoelVaes commented on #4572
I encounter the same problems. Any progress on this issue?

[2021-04-17 13:37] BalusC opened #4913 "Mojarra 2.3: @ResourceDependency is not injected in @FacesConverter when managed=true"
Related: https://github.com/omnifaces/omnifaces/issues/572

[2021-04-19 09:14] BalusC commented on #4913
Merged in 3.0/4.0 as well.

[2021-04-19 09:14] #4913 closed

[2021-04-19 11:24] BalusC commented on #4572
There are 2 separate problems mentioned in this ticket:

1. Websocket not working after application redeploy (because session persistence wasn't enabled in server)
2. Websocket trying to reconnect infinitely instead of finitely (because of browser specific bug)

Which one exactly are you referring to?

1. Solution: enable session persistence in server
2. Solution: upgrade to at least Mojarra 2.3.1

[2021-04-19 11:24] #4572 closed

[2021-04-19 11:33] BalusC opened #4916 "Mojarra 2.3: FlowDiscoveryCDIExtension#beforeBeanDiscovery() uses deprecated method"
When using CDI 1.1+ this warning pops up for Mojarra 2.3.

This needs to be adjusted in `FlowDiscoveryCDIExtension`. The other CDI extension, the `CdiExtension` is already using CDI 1.1 method.

[2021-04-19 11:42] BalusC commented on #4912
Reproduced. This indeed causes a memory (and temp file) leak.

[2021-04-19 12:00] BalusC commented on #4912
Can you test your case against this branch https://github.com/eclipse-ee4j/mojarra/tree/fix-mojarra-issue-4912_memory-leak-in-ViewDeclarationLanguage-createComponent and let me know if it solves it for you?

[2021-04-19 13:11] fdelsert commented on #4912
It works like a charm ! Thank you.

[2021-04-19 13:14] BalusC commented on #4916
Upmerged into 3.0/4.0 as well.

[2021-04-19 13:14] #4916 closed

[2021-04-19 13:15] BalusC commented on #4912
OK, upmerged into 3.0/4.0 as well.

[2021-04-19 13:15] #4912 closed

[2021-04-28 06:49] christophs78 commented on #4715
Hi @arjantijms!
You did 2.3.15-M1. Thanks!
Is there a chance to get this published to MavenCentral like 4.0.0-M1?
Kind regards,
Christoph

[2021-04-29 12:05] arjantijms commented on #4715
@christophs78 2.3.15-M1 failed the TCK, but @BalusC discovered at least one major cause of the failure that should be easy to correct.

@BalusC do you have any status on this?

[2021-05-03 12:32] christophs78 commented on #4715
Do we have the same issue today? What´s the difference between our usual CI which run´s after each commit and setting a  version-tag?

[2021-05-03 13:07] arjantijms commented on #4715
Do you mean Travis? Travis now just builds the branch (mvn clean install, effectively), while the TCK runs for close to 3 hours and executes over 5000 tests.

You can see it here, I just kicked off a new run: https://ci.eclipse.org/mojarra/job/2_mojarra-run-tck-against-staged-build_2_3/

It should finish in about 1 hour against the staged 2.3.15. If it passed (which it really should, since nothing

[2021-05-03 13:40] christophs78 commented on #4715
Ok. New things to learn. :-)
Eclipse uses it´s own Jenkins-instance for running integration-tests. And this get´s triggerd by some eclipse "magic"? Or manually?
And we (you?) can run this on demand also against every branch we wan´t to check?

Just was confused before due to
![image](https://user-images.githubusercontent.com/10461942/116883438-e4f59800-ac25-11eb-927c-642d796a8a63.png)

[2021-05-03 14:06] arjantijms commented on #4715
Yes and no ;)

Mojarra is one of the few projects EE4J were the integration tests don't run automatically. But for most other projects this would be yes and yes indeed. It can be triggered by a commit hook I think, or by the Eclipse Jenkins CI periodically scanning the repo for new commits.

Then there's the TCK tests, which are not executed automatically for any EE4J repo as far as I know. This i

[2021-05-03 19:25] melloware commented on #4715
This ticket can be closed.

[2021-05-03 20:02] BalusC opened #4923 "Deprecate and remove com.sun.faces.enableRestoreView11Compatibility"
Deprecate `com.sun.faces.enableRestoreView11Compatibility` in 2.x
Remove `com.sun.faces.enableRestoreView11Compatibility` in 4.x

As it only encourages bad practices. The correct practice is to either correctly deal with `ViewExpiredException`, or to use stateless views.

From the book "The definitive guide to JSF in Java EE 8"

[2021-05-03 20:55] #4715 closed

[2021-05-04 13:09] BalusC opened #4924 "Add back Performance-optimized version of ComponentSupport.findChildByTagId()"
#4808 has been reverted for 2.3.15 as per #4922

This needs to be added back but first we need to identify the failing TCK test and replicate the test in Mojarra project.

@arjantijms can you do this? Then I can take a second look at the impl.

[2021-05-04 16:30] arjantijms opened #4925 "Exception when writing partial response with expression yielding null"
When writing a partial response, e.g.

[code]

And `#{somebean.foo}` resolves to a null (that gets coerced to "") or directly returns a "" then the following exception is thrown:

[code]

The case for length == 0 seems to be missing here:

[code]

The method was added here: https://github.com/eclipse-ee4j/mojarra/commit/57261962e6f9250b33bbe790c0f1a0b304ea5013 by @TomasHofman although it was a lon

[2021-05-05 05:11] arjantijms commented on #4924
Yes, I'll look at adding the test in 2.3 first, and then move it to 3.0 and 4.0 as well.

[2021-05-05 07:27] TomasHofman commented on #4925
@arjantijms I agree, thank you for fixing this!

[2021-05-05 15:24] BalusC commented on #4925
LGTM!

Only missing unit test.

[2021-05-05 15:25] arjantijms commented on #4925
Okay, I'll look for a test

[2021-05-14 10:53] kr1stjans opened #4930 "ServletException: NoSuchElementException"
Problem: rapidly refreshing the page can cause ServletException: NoSuchElementException

Primefaces version: 6.1
JSF version: Mojarra 2.2.14
WildFly version: 10.1

There is a race condition in com.sun.faces.facelets.tag.jsf.IterationIdManager#_getStackOfTrackedIds.

[code]

Multiple requests use the same context and consequently the same stack of _STACK_OF_TRACKED_IDS. If the stack is null, then t

[2021-05-16 16:17] melloware commented on #4930
Good debugging thanks for the hint!

[2021-05-17 14:01] Toru47 commented on #4572
Is there a workaround for "Websocket trying to reconnect infinitely instead of finitely"?

[2021-05-18 05:43] stephan-wenders commented on #4572
Hi!

sorry for addressing this problem again. i'am using wildfly 18 and everything works fine using omnifaces sockets. I neither changed the server configuration nore the browser. I do not understand the given explanation, but hope one of the next wildfly releases is shipped with a Mojarra version including those fixes.

Geetings from Duisburg
Stephan

[2021-05-19 11:27] Toru47 opened #4933 "JSF 2.3.15: Websocket trying to reconnect infinitely instead of finitely (because of browser specific bug)"
As said in https://github.com/eclipse-ee4j/mojarra/issues/4572#issuecomment-822392768 the websocket bug "Websocket trying to reconnect infinitely instead of finitely (because of browser specific bug)" is obviously not fixed in version 2.3.15. I've tried this version in WildFly 21.0.0.Final added 2.3.15 Mojarra manually with the same error result. This error occurs if the application is (hot) redep

[2021-05-23 12:14] melloware commented on #4925
@arjantijms I wonder if that is the same issue found here: https://github.com/primefaces/primefaces/issues/7343

[code]

Reproducer:
[pf-7343.zip](https://github.com/primefaces/primefaces/files/6528034/pf-7343.zip)

It looks like a Mojarra bug as it works fine in Myfaces.

`mvn clean jetty:run -Pmyfaces22` - WORKS

`mvn clean jetty:run -Pmyfaces23` - WORKS

`mvn clean jetty:run -Pmojarra22` - **ER

[2021-05-23 12:21] melloware commented on #4925
Actually this doesn't look related I will open a new ticket

[2021-05-23 12:23] melloware opened #4936 "Full State Saving ArrayIndexOutOfBoundsException"
Mojarra: 2.2.20
Mojarra: 2.3.16

Original Report: https://github.com/primefaces/primefaces/issues/7343

Reproducer:
[pf-7343.zip](https://github.com/eclipse-ee4j/mojarra/files/6528057/pf-7343.zip)

`mvn clean jetty:run -Pmojarra22` - **ERROR**

`mvn clean jetty:run -Pmojarra23` - **ERROR**

Navigate to: http://localhost:8080/primefaces-test/test.xhtml

When using:
[code]

When trying to use PrimeF

[2021-05-23 12:26] BalusC commented on #4923
Upmerged in 3.0.

It turns out it was already removed from 4.0 in #4765

https://github.com/eclipse-ee4j/mojarra/commit/77e0e04a3027c73bc62383a2ac3cde3b86fe3f32
https://github.com/eclipse-ee4j/mojarra/commit/7ebc063432f58f8a5fb0d9fea565f46ed44a29b5

[2021-05-23 12:26] #4923 closed

[2021-05-23 12:26] BalusC commented on #4924
Merged and upmerged in 3.0 and 4.0 as well.

https://github.com/eclipse-ee4j/mojarra/commit/77e0e04a3027c73bc62383a2ac3cde3b86fe3f32
https://github.com/eclipse-ee4j/mojarra/commit/7ebc063432f58f8a5fb0d9fea565f46ed44a29b5

[2021-05-23 12:26] #4924 closed

[2021-05-23 12:27] BalusC commented on #4925
Merged and upmerged in 3.0 and 4.0 as well.

https://github.com/eclipse-ee4j/mojarra/commit/77e0e04a3027c73bc62383a2ac3cde3b86fe3f32
https://github.com/eclipse-ee4j/mojarra/commit/7ebc063432f58f8a5fb0d9fea565f46ed44a29b5

[2021-05-23 13:58] BalusC commented on #4933
Reproduced. This is after all not a problem in client side, let alone a "browser specific bug". It happens in every single browser. This is after all actually a problem in server side. The server log shows an infinite loop of
[code]
The technical problem is, it was expecting to find the CDI bean manager in FacesContext, but there is no FacesContext anywhere at the moment the websocket hits the ser

[2021-06-06 21:34] wafa-ogh commented on #4811
Hello, Thank you  @BalusC and sorry for the late reply. I ran the tests on #4934 and the performance issue of the RESTORE_VIEW phase is fixed :)
These are the results, The application server used is Wildfly 19.0.0, and the page used for test contains more than 20 000 JSF components (21662)
**On JSF 2.2** (jsf-impl-2.2.13.SP4) before the upgrade, response time of the ajax requests was :
![image](ht

[2021-06-08 08:12] Toru47 commented on #4933
I haven't got any errors in server log, not even in debug mode.

Now I've build this fixed version (Mojarra 2.3.16-SNAPSHOT) with

`impl/src/main/java/com/sun/faces/util/Util.java (98189bea9d485c8bf459718eae1e127b063c4fad)`

and run in WildFly 21

`08:46:10,346 INFO  [javax.enterprise.resource.webcontainer.jsf.config] (ServerService Thread Pool -- 81) Mojarra 2.3.16-SNAPSHOT...`

but the issue is

[2021-06-13 18:55] manorrock commented on #4901
Looks like you create the 4.0.0-M1 milestone. Closing this.

[2021-06-13 18:55] #4901 closed

[2021-06-23 09:51] wklaczynski opened #4945 "Restore state - java.lang.InstantiationException: com.sun.faces.facelets.el.ContextualCompositeMethodExpression$SetClientIdListener"
An exception occurred when restoring the state.
[code]
In order for the state to restore, the class should have a static and public modifier.
[code]
Unfortunately, this bug is in both JSF2.3 and 3.0.

[2021-06-25 17:37] #4936 closed

[2021-07-28 07:41] mauromol commented on #4304
Unless some activity has been done on this, I believe it still stands.

[2021-08-04 15:23] varoliver opened #4946 "Non queued AJAX requests and ES6 modules"
Hi,

it would be great if JSF/mojarra would provide following features for modern web development:

1. Non-queued AJAX requests
I know the reasons why the requests get queued, but the Spec and mojarra should provide
the possibility for parallelization of multiple AJAX requests like primefaces does with async=true.
Of course developers would have to use this feature with care in a stateless/Request

[2021-08-05 08:46] Edwardiv1 opened #4947 "Use of ui:repeat varStatus.index as an array index fails"
This code works in Jakarta Faces 2.3.14, but fails in 2.3.15 and 2.3.16:

[code]

The part that fails is `value="#{myForm.answers[stat.index]}"`.  When I try to submit the form in Jakarta Faces 2.3.15, it throws the following exception:

[code]

I've tried initializing `answers` in both `@PostConstruct` and also a viewAction, but still get the same error. If I access `answers` using a hard-coded n

[2021-08-06 11:54] christophs78 commented on #4614
Do we (still?) plan to do a 4.x - release this year? Or do we have some other timetable?
What do we want do get into this release?

[2021-08-06 13:27] arjantijms commented on #4614
@christophs78 I think the idea for the 4.x release is indeed to happen this year, actually within months (October) al the APIs should be defined and the feature set should be final.

The broad lines for the release are still what's in the initial mail to the list about this topic:

https://eclipse.org/lists/faces-dev/msg00043.html

We got quite far a few months ago, but because of holidays etc the

[2021-08-28 01:43] #4599 closed

[2021-08-28 01:43] #4596 closed

[2021-08-28 01:43] #4577 closed

[2021-08-28 01:43] #4583 closed

[2021-08-28 01:43] #4574 closed

[2021-08-28 01:43] #4564 closed

[2021-08-28 01:43] #4571 closed

[2021-08-28 01:43] #4561 closed

[2021-08-28 01:43] #4555 closed

[2021-08-28 01:43] #4549 closed

[2021-08-28 01:43] #4551 closed

[2021-08-28 01:43] #4546 closed

[2021-08-28 01:43] #4530 closed

[2021-08-28 01:43] #4524 closed

[2021-08-28 01:43] #4472 closed

[2021-08-28 01:43] #4473 closed

[2021-08-28 01:43] #4452 closed

[2021-08-28 01:43] #4393 closed

[2021-08-28 01:43] #4433 closed

[2021-08-28 01:43] #4390 closed

[2021-08-28 01:43] #4386 closed

[2021-08-28 01:43] #4364 closed

[2021-08-28 01:43] #4383 closed

[2021-08-28 01:43] #4339 closed

[2021-08-28 01:43] #4355 closed

[2021-08-28 01:43] #4338 closed

[2021-08-28 01:43] #4329 closed

[2021-08-28 01:43] #4333 closed

[2021-08-28 01:43] #4327 closed

[2021-08-28 01:43] #4328 closed

[2021-08-28 01:43] #4314 closed

[2021-08-28 01:43] #4311 closed

[2021-08-28 01:43] #4308 closed

[2021-08-28 01:43] #4309 closed

[2021-08-28 11:07] #4933 closed

[2021-08-28 11:27] BalusC opened #4949 "Spec1423IT failing since #1553"
[code]
The `xmlns:my="http://xmlns.jcp.org/jsf/component"` in `spec1423includeWithComponent.xhtml` file had to remain backwards compatible since https://github.com/eclipse-ee4j/faces-api/issues/1553. Test passed only after swapping xmlns for `xmlns:my="jakarta.faces.component"` but this should not have been necessary.

[2021-08-29 01:51] #4300 closed

[2021-08-29 01:51] #4303 closed

[2021-08-29 10:29] tandraschko commented on #4262
Still not fixed

[2021-09-01 15:51] arjantijms opened #4955 "Adopt Servlet 4 mapping API"
The Servlet mapping API was intended to be picked up by Mojarra a long time ago, but it still hasn't been done.

[2021-09-01 17:04] #4955 closed

[2021-09-01 20:10] melloware opened #4957 "UIRepeat: Improve detection of repeating parents"
Originally Reported at PrimeFaces: https://github.com/primefaces/primefaces/issues/7777

PrimeFaces has a custom `p:repeat` component to fix an issue with Mojarra `ui:repeat` that is not present in MyFaces.

Reproducer:
[pf-7777.zip](https://github.com/eclipse-ee4j/mojarra/files/7094011/pf-7777.zip)

[code]

The issue comes from this custom code in PF Repeat:

**PrimeFaces:**
[code]

**Mojarra:**

[2021-09-01 22:36] arjantijms commented on #4957
Thanks for the rapport, need to take a closer look at this, as it's all very subtle (and brittle, unfortunately).

[2021-09-02 11:32] arjantijms opened #4958 "Implement removing deprecated state manager methods"
Implementation of https://github.com/eclipse-ee4j/faces-api/issues/1578

[2021-09-04 17:37] #4958 closed

[2021-09-08 01:49] #4553 closed

[2021-09-09 01:53] #4618 closed

[2021-09-10 01:53] #4535 closed

[2021-09-12 17:47] BalusC opened #4965 "Remove support for long-deprecated context params"
Mojarra has still internal support for long-deprecated context params such as:

- com.sun.faces.NUMBER_OF_VIEWS_IN_SESSION (replaced by com.sun.faces.numberOfViewsInSession)
- facelets.BUFFER_SIZE (replaced by jakarta.faces.FACELETS_BUFFER_SIZE)
- com.sun.faces.disableVersionTracking (removed without replacement)
- com.sun.faces.COMPRESS_STATE (replaced by com.sun.faces.compressState)
- etc

It's

[2021-09-12 19:08] BalusC opened #4967 "Remove deprecated com.sun.faces.facelets.FaceletCache"
As this was since 2.1 moved into API as `jakarta.faces.view.facelets.FaceletCache`.

[2021-09-13 20:13] mnriem opened #4971 "Remove deprecated ResourceResolver"

[2021-09-13 20:13] mnriem commented on #4971
Fixed by https://github.com/eclipse-ee4j/mojarra/pull/4968

[2021-09-13 20:14] mnriem commented on #4971
Specified by https://github.com/eclipse-ee4j/faces-api/issues/1583

[2021-09-13 20:14] #4971 closed

[2021-09-15 01:51] #4541 closed

[2021-09-22 14:18] christophs78 commented on #4642
You may assign this issue to me. PR propably comming within a week.

[2021-09-25 07:37] fcorneli commented on #4814
The example would not work anyway as you need to implement `StateHolder` when using attributes on a `Validator`, no?

[2021-09-25 10:37] #4949 closed

[2021-09-25 10:38] #4965 closed

[2021-09-25 10:38] #4967 closed

[2021-09-25 10:39] BalusC commented on #4957
There's clearly need for a common interface or abstract class for all those iterating components.

[2021-09-25 11:24] melloware commented on #4957
I think a either a Marker interface like `UIIterable`  or if it had a single method like `boolean isRepeating();` would be great.  I think its more appropriate than an Abstract Class.  But thanks for considering it!

[2021-09-25 11:28] tandraschko commented on #4957
i think it makes sense in general (but prefer a interface) but it would also make sense to improve the Mojarra algorithm, so that check isnt even needed like in myfaces

[2021-09-25 15:15] christophs78 commented on #4642
This one may be closed because already implemented by @BalusC with https://github.com/eclipse-ee4j/mojarra/commit/98189bea9d485c8bf459718eae1e127b063c4fad#diff-6e59848a7dc34c64f4c25e5afc623099e1262d1161223a33eec9570569242aeb.
Is it an option to release 2.3.17?

[2021-09-28 01:53] #4299 closed, assigned to arjantijms

[2021-09-28 01:53] #4295 closed

[2021-09-28 01:53] #4294 closed

[2021-09-28 01:53] #4292 closed

[2021-09-28 01:53] #4278 closed

[2021-09-28 01:53] #4287 closed

[2021-09-28 01:53] #4273 closed, assigned to arjantijms

[2021-09-28 01:53] #4271 closed, assigned to arjantijms

[2021-09-28 01:53] #4263 closed

[2021-09-28 01:53] #4269 closed

[2021-10-03 01:56] #4628 closed

[2021-10-05 07:53] marcjordanavila commented on #4936
Thank you for fixing this issue! Do you know when this will be released? Thank you :)

[2021-10-15 09:51] christophs78 opened #4977 "Flash: does not work in scenarios with rendered response"
When we try to pass Java-objects via Flash to a PrimeFaces Dialog Framework (which is technically a IFRAME; http://primefaces.org/showcase/ui/df/data.xhtml) this does not work due to
`faces.externalcontext.flash.response.already.committed=JSF1095: The response was already committed by the time we tried to set the outgoing cookie for the flash.  Any values stored to the flash will not be available

[2021-10-18 12:30] christophs78 opened #4979 "MenuRenderer#createCollection fails when collection is an instance of java.util.Arrays$ArrayList"
Happens when the ArrayList was created via `Arrays.asList()`.

Maybe we should fall back in https://github.com/eclipse-ee4j/mojarra/blob/8a2124c7a5c66642f898ff32924887f55990bc5b/impl/src/main/java/com/sun/faces/renderkit/html_basic/MenuRenderer.java#L698-L702 to fallBackType.

Or map `java.util.Arrays$ArrayList` to `java.util.ArrayList`.

Or???

I need to do some more analysis.

[2021-10-20 08:51] pizzi80 opened #4980 "Faces 4.0 Release Date"
Is there an official release date?

[2021-11-05 13:51] kr1stjans commented on #4930
any news regarding this issue @melloware ?

[2021-11-05 14:12] melloware commented on #4930
I did not get to research it but it is a good one for @BalusC @arjantijms   I wonder if we need a lock or a ConcurrentLinkedList or something.

[2021-11-06 11:27] melloware commented on #4930
PR Submitted

[2021-11-07 01:54] #4536 closed

[2021-11-08 17:48] arjantijms commented on #4930
The double-checked lock seems good enough. Alternatively we could have used a concurrent map with a single element and a `computeIfNotPresent`.

[2021-11-08 17:58] #4930 closed

[2021-11-10 01:51] #4407 closed

[2021-11-16 22:33] nimo23 opened #4992 "support <f:sse> (ServerSentEvents)"
Are there any plans to add **ServerSentEvents** to JSF Spec?

For example,

`<f:sse channel="someChannel"  ... />`

or

`<f:push channel="someChannel"  ... />`

Currently, I must use "f:websocket", if I want to send messages from server to client even if I do not need bidirectional connection.

[2021-11-18 13:00] nimo23 commented on #4992
Moved https://github.com/eclipse-ee4j/faces-api/issues/1587

[2021-11-18 13:00] #4992 closed

[2021-11-24 01:51] #4649 closed

[2021-11-24 01:51] #4648 closed

[2021-11-25 16:55] #4389 closed

[2021-11-26 23:58] arjantijms commented on #4980
Not a super official release date but soon-ish for sure, as in the next month. Hopefully we can do a 4.0-M2 within the next few days, which should be very complete.

[2021-11-27 09:24] pizzi80 commented on #4980
good!! thanks for the update

[2021-11-27 16:04] mnriem commented on #2559
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-11-27 16:04] #2559 closed

[2021-11-27 17:47] BalusC commented on #4977
Wondering about this comment in `FaceletViewHandlingStrategy#renderView()`
[code]
I digged in the commit history and found this commit: https://github.com/javaee/mojarra/commit/6de4203e2ee9a0ced8198b53ab6a36e8818cb152

The currently reported bug was actually introduced over there.

The `startDocument()` (and `endDocument()`) was moved to `PartialViewContextImpl#processPartial()` because it's also

[2021-11-27 17:53] arjantijms commented on #4977
+1 for the 2nd option.

[2021-11-27 23:38] arjantijms opened #5000 "Change Mojarra implementation artifactId to mojarra"
Currently the maven coordinates of mojarra are:

[code]

The comes from the RI days where the naming pattern was `[spec]-api` for the API jar, and `[spec]` for the implementation jar. As Mojarra is no longer the RI (there is no RI concept in Jakarta EE), implementations have been asked to move away from this pattern.

I would like to propose to use:

[code]

[2021-11-28 13:20] mnriem commented on #3887
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-11-28 13:20] #3887 closed

[2021-11-28 17:40] #4977 closed

[2021-11-28 17:40] #4979 closed

[2021-11-30 14:49] mnriem commented on #4024
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-11-30 14:49] #4024 closed

[2021-11-30 14:50] mnriem commented on #4052
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-11-30 14:50] #4052 closed, assigned to arjantijms

[2021-11-30 23:31] lukasj commented on #5000
the convention for the `jakarta.faces` artifact is that it includes the API _and_ some (default/fallback?) implementation; with the move to the different artifact id, I expect that the API goes away from that jar as well. Is that the case here?

[2021-11-30 23:42] erickdeoliveiraleal commented on #4509
this issue was fixed in Payara https://github.com/payara/Payara/pull/3104 but not in official mojarra?

[2021-11-30 23:44] erickdeoliveiraleal commented on #4509
@manfredriem can you reopen this?

[2021-12-01 01:57] #4652 closed

[2021-12-01 08:55] arjantijms commented on #5000
Good point, unfortunately the API is still there.

@mnriem what do you think?

[2021-12-01 09:09] lukasj commented on #5000
then I see no reason for the move.

I'm doing following with mail:
* jakarta.mail:jakarta.mail-api - API only (module name jakarta.mail)
* org.eclipse.angus:jakarta.mail - API + impl (module name jakarta.mail) where the impl is used if no other impl is found
* org.eclipse.angus:angus-mail - impl only (module name com.sun.mail)

[2021-12-01 09:20] arjantijms commented on #5000
I see your point.

We could split the implementation, as we currently do for the API, but Faces / Mojarra doesn't have the flexibility to choose an implementation. So the API split off from the full jar and the implementation split off from the full jar would always have to be used together, and exactly together (not with any other API like eg the Jakarta EE api artefact).

Maybe we therefore do n

[2021-12-01 09:32] lukasj commented on #5000
it is absolutely fine - for the runtime - to require that API and IMPL have to be used together. But does the same have to be true at the compile time?

wrt org.glassfish vs org.eclipse - I'd probably postpone this till there is a standalone artifact of the implementation to help people (and us) during transition - one will have a fallback to "old" jars in case of issues

[2021-12-01 15:31] mnriem commented on #5000
There is a lot that needs to be moved to make it a true API JAR. Several things will have to be marked deprecated and done differently (in a CDI way) before this API / implementation split is done.

[2021-12-01 16:21] arjantijms commented on #5000
There's quite a number of things to take into consideration there.

One option, for e.g. the FacesServlet could be:

[code]

Where `getServlet()` could do either a services lookup OR use CDI for that instead.

[2021-12-02 20:10] mnriem commented on #4071
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-02 20:10] #4071 closed

[2021-12-02 20:10] mnriem commented on #4073
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-02 20:10] #4073 closed

[2021-12-03 14:23] mnriem commented on #4084
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-03 14:23] #4084 closed

[2021-12-06 14:03] mnriem commented on #4085
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-06 14:03] #4085 closed

[2021-12-06 14:03] mnriem commented on #4086
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-06 14:03] #4086 closed

[2021-12-06 14:03] mnriem commented on #4095
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-06 14:03] #4095 closed

[2021-12-07 13:11] erickdeoliveiraleal commented on #4631
please, merge it into 2.3 branch

[2021-12-07 13:13] erickdeoliveiraleal commented on #4699
please, merge it into 2.3 branch

[2021-12-07 14:59] mnriem commented on #4100
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-07 14:59] #4100 closed

[2021-12-08 13:28] mnriem commented on #4107
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-08 13:28] #4107 closed

[2021-12-09 13:34] mnriem commented on #4116
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2021-12-09 13:34] #4116 closed

[2021-12-13 17:04] VsevolodGolovanov opened #5023 "Composite component's child rendered with wrong (non-reparented) clientId if its getClientId is called on PostAddToViewEvent"
Tested with: Mojarra 2.3.5.SP2 (WildFly 15) and 3.0.0.SP04 (WildFly 26.0.0.Beta1 (EE 9.1 Preview)).
Set PARTIAL_STATE_SAVING=false.

[Reproducer](https://github.com/eclipse-ee4j/mojarra/files/7705539/mojarra-remembers-wrong-client-id-jsf3.zip)

Have a composite with a form inside:
[code]
And a view:
[code]
Deploy and open the page.
Click "Call action from composite". See the growl message appear:

[2021-12-13 17:07] VsevolodGolovanov commented on #5023
#4696 could be relevant.

[2021-12-15 11:46] BalusC commented on #5023
Reproduced with those versions but norepro anymore in 2.3.17 / 3.0.1.

Please upgrade.

[2021-12-15 11:46] #5023 closed

[2021-12-15 11:51] BalusC commented on #4696
Reproduced in 2.3.17.

Cliend ID of button is indeed missing `:form` part, but referencing `@form` via `<f:ajax render="@form"/>` nested in command button did however work for me.

[2021-12-15 12:02] BalusC commented on #4696
Also noticed in projectStage=Development that Mojarra's `FormOmittedChecker` incorrectly finds the button to not be inside an `UIForm`.

[2021-12-15 13:47] BalusC commented on #4696
I've analyzed the implementation and I suspect that the client ID behavior is "by design". It's at least not trivial to "fix" it without causing potential regressions somewhere else. I'll probably have to leave it as is for now.

I'm however curious to the involved use case. It looks like that this part indeed warrants fixing. But I couldn't reproduce the described issue of "referencing @form is n

[2021-12-17 11:24] BalusC commented on #4957
I ran `<ui:repeat>` related integration tests of Mojarra using MyFaces and I found the IT of https://github.com/eclipse-ee4j/mojarra/issues/3837 to be failing when using MyFaces 2.3.9 instead of Mojarra 2.3.17. So I think the Mojarra algorithm is still relevant in such case.

For the record, this is the (simplified) use case:

view:
[code]

model:
[code]

reproducer:

1. click "1", message should

[2021-12-17 11:54] tandraschko commented on #4957
let me check that case

[2021-12-17 12:36] BalusC commented on #4957
I feel like simply scanning the client ID for an iteration index pattern is sufficient for now. A numeric component ID is already disallowed by spec and iterable component implementations as far as I know already follow the same client ID pattern of "clientId:[0-9]+:childId".

[2021-12-17 12:43] tandraschko commented on #4957
i can verify the issue but i feel it could be fixed without introducing the "isNestedInIterator" check but i need some time to debug

[2021-12-17 12:49] BalusC commented on #4957
I found this to be also failing when <h:dataTable> is used (in Mojarra 2.3.17 as well as MyFaces 2.3.9). I'll have to reapply the same fix over there for now.

[2021-12-17 13:14] BalusC commented on #4957
Would be great indeed if that's possible.

[2021-12-17 14:57] tandraschko commented on #4957
please see:
https://issues.apache.org/jira/browse/MYFACES-4425

it seems that in MF the state isnt always saved - only in some special cases

i normal cases, the "value" is restored from the ValueBinding, which isnt available in this case
i could fix it by always save it but this mean more viewstate usage, even not required in 99% of the cases
this is issue propably never occured
in 2.0 and 2.1 we

[2021-12-18 01:59] #4658 closed

[2021-12-18 16:20] BalusC commented on #4957
Great. I'll look if I can retrofit MyFaces state saving approach into Mojarra's ui:repeat (and h:dataTable!).

[2021-12-30 08:15] sinhkej commented on #4260
We are using JSF 2.3 and Payara 5.2 also facing this issue.
In our system, this error occurs a lot.
It seems to reproduce the error when using a robot like Jmeter, Crawler to access the page(@ViewScoped page).
Is there any progress or workaround for this issue?
----------------------------------------------------------------------------------------------------------------------------
2021/12/14 15

[2022-01-02 19:58] mnriem commented on #4117
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-02 19:58] #4117 closed

[2022-01-04 22:02] mnriem commented on #4120
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-04 22:02] #4120 closed

[2022-01-05 19:21] melloware commented on #4880
@BalusC we are getting this in Jboss 7.4 using Mojarra 2.3.

[code]

Its happening using our PrimeFaces `p:poll` calls and its consistent on most of our p:poll calls.  Let me see if I can create a reproducer.

[2022-01-05 20:11] mnriem commented on #4125
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-05 20:11] #4125 closed

[2022-01-06 15:01] mnriem commented on #4184
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-06 15:01] #4184 closed

[2022-01-07 15:34] mnriem commented on #4139
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-07 15:34] #4139 closed

[2022-01-07 20:39] codylerum opened #5032 "All inputs inside composite component executed when using <f:ajax> execute="@this""
After upgrading from Wildfly 24 to Wildfly 26 have run into a regression in mojarra. This was an upgrade from mojarra 2.3.14 to 2.3.17

What is happening is that I'm using a simple composite component as a layout.

[code]

This has worked fine up until now. However now I am seeing that if I have a <f:ajax anywhere within the inserted children then an execute value of `@this` means the entire conte

[2022-01-11 20:18] mnriem commented on #4140
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-11 20:18] #4140 closed

[2022-01-12 12:06] BalusC commented on #4957
It was less trivial than expected so I've postponed that for later.

The initial PR is now at least merged into 2.3/3.0/4.0.

[2022-01-12 12:06] #4957 closed

[2022-01-12 15:10] mnriem commented on #4143
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-12 15:10] #4143 closed

[2022-01-13 09:49] BalusC commented on #5032
Point taken. This should indeed not happen.

[2022-01-13 10:13] BalusC commented on #5032
While implementing the IT, I noticed that a work around is to simply omit the `execute="@this"`. It will then be correctly implied.

[2022-01-13 14:49] mnriem commented on #4144
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-13 14:49] #4144 closed

[2022-01-13 15:09] codylerum commented on #5032
@BalusC Thanks for the quick response.

If anyone else runs in to this you can also just directly reference the client id that would be the correct `@this`

[code]

[2022-01-13 17:11] BalusC commented on #5032
All merged now.

[2022-01-13 17:11] #5032 closed

[2022-01-15 15:52] mnriem commented on #4145
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer and if you can create a PR fixing the issue

[2022-01-15 15:52] #4145 closed

[2022-01-17 10:18] BalusC commented on #4947
It's difficult to create an unambiguous reproducer for your issue. That `<f:viewParam>` on a managed bean didn't make much sense to me.

The following full reproducer works just fine for me in Mojarra 2.3.17 on Tomcat 9.0.56 in the smallest possible project with everything configured to the absolute minimum (i.e. web.xml, faces-config.xml and beans.xml files are basically empty).

View:
[code]

Mo

[2022-01-17 10:31] j-be opened #5036 "Follow up to XML update parsing error because of the 0x0C (Form Feed) control character"
As #4145 was closed, and as requested there, I open a new bug report, as the issue is still reproducible with WildFly 26.0.0.Final.

I'm not going to reiterate the full bug (see #4145 for that). I will however show how to reproduce it.

* Deploy the `war`contained in [mojarra4145.zip](https://github.com/eclipse-ee4j/mojarra/files/7881074/mojarra4145.zip) to WildFly 26.0.0.Final
* Open a browser on

[2022-01-17 10:50] BalusC commented on #4945
Problem is understood but a minimal reproducer would be very helpful in order to create an integration test.

So far I haven't been able to reproduce this in Mojarra 2.3.17 on Tomcat 9.0.56 in the smallest possible project with everything configured to the absolute minimum (i.e. web.xml, faces-config.xml and beans.xml files are basically empty).

View:
[code]
`resources/components/component.xhtml`

[2022-01-17 10:59] BalusC commented on #5036
The reproducer contains PrimeFaces. This is not unambiguous. I'll have to change the reproducer myself in order to prepare a proper integration test. In future Mojarra-targeted issue reports, it would be very welcome if the reproducer does not contain any third party libraries.

[2022-01-17 11:05] j-be commented on #5036
@BalusC I see, I used it mosty because due of the `tabs` feature. If you'd like I can try to rewrite it only using JSF features and report back after I succeeeded.

I just thought it would be a good idea to immediatly raise this again before it gets forgotten - I still consider this a being a potential DoS.

[2022-01-17 11:06] BalusC commented on #5036
I've boiled down an unambiguous reproducer which indeed reproduced the problem in Mojarra 2.3.17.

View:
[code]

Model:
[code]

Expected behavior: "Output" is printed
Unexpected behavior: JavaScript alert shows up saying "emptyResponse: An empty response was received from the server.  Check server error logs"

[2022-01-17 11:09] j-be commented on #5036
Skim reading through this I'd say it shows the same issue.

[2022-01-17 13:25] arjantijms commented on #4980
4.0.0-M2 was released in December to Maven Central. I just updated the project page too:

https://github.com/eclipse-ee4j/mojarra/releases/tag/4.0.0-M2-RELEASE

[2022-01-17 13:50] mnriem commented on #4156
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-17 13:50] #4156 closed

[2022-01-17 17:40] codylerum opened #5038 "Allow configuration of com.sun.faces.application.view.activeViewMapsSize via web.xml"
Currently this value is set in the ViewScopeManager when in looks in the session map to see if a value exists for `com.sun.faces.application.view.activeViewMapsSize`

https://github.com/eclipse-ee4j/mojarra/blob/b07e005e2fab03ebee0f686c40e57d7367b011af/impl/src/main/java/com/sun/faces/application/view/ViewScopeManager.java#L268

However, even if you define this `com.sun.faces.application.view.acti

[2022-01-17 18:19] BalusC commented on #5038
+1

Note that the original session attribute needs to be maintined for some sort of backwards compatibility for the rest of 2.3. It can be removed in 4.0.

[2022-01-17 18:22] BalusC commented on #5038
I've added new context param named `com.sun.faces.numberOfActiveViewMaps` (to be in line with existing naming for `com.sun.faces.numberOfViewsInSession` and `com.sun.faces.numberOfLogicalViews`)

[2022-01-17 18:24] codylerum commented on #5038
@BalusC Perfect. Thanks!

[2022-01-18 01:55] Edwardiv1 commented on #4947
I haven't tested it with 2.3.17, but I worked around it by using `<c:forEach />` instead of `<ui:repeat />`
Regarding your test case, not sure if it makes a difference, but I was using ViewScoped (not RequestScoped) and String[] (not List<String>).

In any event, I'm happy for this to be closed because the workaround works well.

[2022-01-18 15:35] #4168 closed

[2022-01-19 15:26] mnriem commented on #4188
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-19 15:26] #4188 closed, assigned to arjantijms

[2022-01-19 17:58] BalusC commented on #4188
For the record, this is expected behavior. `<ui:fragment>` is an `UIComponent`.

Use `<c:if test="#{bean.show}">` instead.

[2022-01-20 17:59] mnriem commented on #4189
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-20 17:59] #4189 closed

[2022-01-21 14:04] t-oster commented on #4574
I also stumbeled on that issue. I can confirm it in mojarra 2.3.17

@jheider is this not relevant for you anymore?

[2022-01-21 19:50] mnriem commented on #4191
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-21 19:50] #4191 closed

[2022-01-24 15:23] mnriem commented on #4194
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-24 15:23] #4194 closed

[2022-01-24 18:36] pizzi80 opened #5040 "jsf.js | Remove FrameTransport + Remove IE6-7-8-9 support"
Please remove FrameTransport and use FormData for ajax

I think it's also time to remove check for IE9 and all the relative hacks in the code...

https://caniuse.com/mdn-api_formdata

https://github.com/omnifaces/omnifaces/issues/656

there is already a PR that implement FormData

https://github.com/eclipse-ee4j/mojarra/pull/4626

[2022-01-24 19:29] mnriem commented on #5040
Because this is asking for removal it needs to be the next cycle around as we will add a deprecation notice for it as part of the upcoming 4.0 release

[2022-01-24 21:57] pizzi80 commented on #5040
deprecate it on v3.0.3 and remove it on 4.0 that is not yet released ...

[2022-01-25 09:08] BalusC commented on #5040
In big favor of this but I'd rather await for ALL existing JSF 2.x tests to be migrated for Faces 4 before I make serious changes to faces.js.

[2022-01-25 09:54] pizzi80 commented on #5040
Thanks!
In the meantime it could be possible to deprecate all the old functions?

This way it will be possible to implement it on v4.x after tests' migration...

[2022-01-25 10:39] EvanKnowles commented on #4281
Any progress on this? Accidentally reproduced this one again today.

[2022-01-25 14:10] Toberumono commented on #4281
@EvanKnowles Unfortunately, my PR has been completely ignored since I provided it. Also, it appears that same PR was lost when the repository was transferred.
I don't have time to recreate the PR, but the relevant file should not have significantly changed. If you are comfortable running a fork, all of the changes you need are here: https://github.com/Toberumono/mojarra/commit/8a1e001a92ac09af29e1

[2022-01-25 14:11] EvanKnowles commented on #4281
@Toberumono No chance of running a fork this side unfortunately, thanks for the info though.

[2022-01-25 16:55] mnriem commented on #4201
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-25 16:55] #4201 closed

[2022-01-26 00:28] larsgrefer opened #5041 "Mojarra 3.0.2 fails when a tag handler is missing a class."
We noticed a strange error while working with Mojarra 3.0.2 and Omnifaces 4.0-M12:

The application startup fails with the following error in Mojarra:
[code]

The handler class passed to `com.sun.faces.util.Util.classHasAnnotations` is `org.omnifaces.taghandler.ValidateBean`

Since both Mojarra and Omnifaces list jakarta.validation as an optional dependency and we are neither using `<o:validateBea

[2022-01-26 18:11] arjantijms commented on #5040
The spec process would only allow deprecation in a major new version, which is 4.0.

[2022-01-26 19:10] pizzi80 commented on #5040
Ok ...

it's only a matter of performance and size of jsf.js (or faces.js) ...

The main point is to use FrameTransport only when

` isIE() && context.form.enctype === "multipart/form-data" `

and then implement the FormData logic inside the sendRequest function ...

so there is nothing to deprecate or remove, it's an implementation that
can be made even in v2.3

Then in Faces v5 we can raise the

[2022-01-26 19:44] mnriem commented on #4216
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-26 19:44] #4216 closed

[2022-01-28 21:59] mnriem commented on #5041
Please see if you can reproduce it using only core Mojarra 3.0.2.

[2022-01-28 22:00] mnriem commented on #4220
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-28 22:00] #4220 closed

[2022-01-28 23:46] larsgrefer commented on #5041
@mnriem What exactly do you mean with "only core Mojarra"?

This issue arises when an optional dependency (in my case jakarta.validation) of an external tag library (in my case Omnifaces) is not present on the classpath.

[2022-01-29 00:19] larsgrefer commented on #5041
I've created a small reproducer project here: https://github.com/larsgrefer/mojarra-5041

[2022-01-30 15:07] mnriem commented on #4226
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-30 15:07] #4226 closed

[2022-01-31 07:49] BalusC commented on #5041
Yup, point taken, this is indeed unexpected.

I can tell from own experience that it didn't happen in some previous Mojarra version, so it has clearly regressed at some point.

[2022-01-31 14:23] mnriem commented on #4228
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-01-31 14:23] #4228 closed

[2022-01-31 17:40] pizzi80 opened #5043 "BUG | 3.0.1 and 3.0.2 | Validation failed clear input value"
Release 3.0.0 works as expected

After the release 3.0.1 there is a bug on form validation: the input value is cleared when it's not valid

**Input value**: 'a'

**Expected h:input value after submit**: 'a'

**Actual h:input value after submit**: ''

[code]

[code]

[2022-02-01 21:08] EugenFischer commented on #4260
we have similar problem with jakarta.faces 2.3.15
but the main issue was usage of [omifaces cache component](https://showcase.omnifaces.org/components/cache) where accidentally input field was used inside.
removing <o:cache> solve this IndexOutOfBoundsException in my case.

but may it's possible to adapt the code and provide some check instead run into IndexOutOfBoundsException  ?

[2022-02-02 06:41] murathazer commented on #4260
@EugenFischer nice point, we also use omnifaces but not cache component only onloadScript component.

We use in our base template page like below;

`<o:onloadScript>disableEnterForAllForms();pushUserInfo('#{visit.transInfo.username}')</o:onloadScript>`

May be @BalusC can show us the right solution?

[2022-02-02 15:29] mnriem commented on #4238
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-02 15:29] #4238 closed

[2022-02-03 17:38] mnriem commented on #4239
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-03 17:38] #4239 closed

[2022-02-04 18:02] mnriem commented on #4241
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-04 18:02] #4241 closed

[2022-02-05 16:38] mnriem commented on #4560
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-05 16:38] #4560 closed

[2022-02-06 15:23] mnriem commented on #4251
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-06 15:23] #4251 closed

[2022-02-06 21:08] mnriem commented on #4946
@varoliver We would love to see something like this. Is this something you can work on? Note it won't make it for 4.0, but with your efforts maybe for 5.0?

[2022-02-06 21:10] #4925 closed

[2022-02-06 21:13] mnriem commented on #4614
Closing this one out as 4.0 is essentially done

[2022-02-06 21:13] #4614 closed

[2022-02-06 21:18] arjantijms commented on #4480
This is definitely not going to make it in for 4.0. Let's try again for the next version.

[2022-02-06 21:19] #4784 closed

[2022-02-06 21:20] #4795 closed

[2022-02-06 21:24] #4980 closed

[2022-02-06 21:54] mnriem opened #5044 "Deprecate IE6-7-8-9 and all older browsers support"
I propose we state in the documentation comments of faces-uncompressed.js that Mojarra will only target support for Edge 97+, Firefox 96+, Chrome 98+, Safari 15.2+, Opera 83+ and all others are deprecated.

See issue #5040 for background

[2022-02-06 21:55] mnriem opened #5045 "Remove FrameTransport and use FormData"
See issue https://github.com/eclipse-ee4j/mojarra/issues/5040 for background

[2022-02-06 21:56] mnriem commented on #5040
Closing as this issue has been separated into 2 separate issues, one for deprecation for 4.0 and one for using FormData for 5.0.

[2022-02-06 21:56] #5040 closed

[2022-02-07 02:40] sinhkej commented on #4260
@EugenFischer, @murathazer
We also use omnifaces but not cache component, only use <o:conditionalComment> and <o:importConstants> component
We don't think this issue is related to onifacses.

[2022-02-07 15:31] #4280 closed, assigned to arjantijms

[2022-02-08 15:27] mnriem commented on #4304
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-08 15:27] #4304 closed, assigned to arjantijms

[2022-02-09 15:34] pizzi80 commented on #5044
We could also mention that the file should be

ECMAScript 2015 (ES6)

[https://www.w3schools.com/js/js_versions.asp](https://www.w3schools.com/js/js_versions.asp)

[https://www.w3schools.com/js/js_es6.asp](https://www.w3schools.com/js/js_es6.asp)

[2022-02-09 16:23] mnriem commented on #5044
@arjantijms What are your thoughts?

[2022-02-09 17:07] codylerum commented on #5044
I think it is time. Those who still need to support IE will obviously lag behind, but they likely would not be adopting 4.0+ for a few more years anyway.

[2022-02-10 07:23] fcorneli commented on #4734
FYI... just encountered something similar on a JSF composite component using a backing component.
When I set `javax.faces.PARTIAL_STATE_SAVING` to `false`, I also get the following exception on AJAX calls:
[code]

[2022-02-11 18:25] mnriem commented on #4667
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-11 18:25] #4667 closed

[2022-02-14 15:07] mnriem commented on #4676
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-14 15:07] #4676 closed

[2022-02-15 23:12] mnriem commented on #4698
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-15 23:12] #4698 closed

[2022-02-16 15:11] #4815 closed

[2022-02-17 15:11] mnriem commented on #4824
This issue was filed against a version that is not maintained by the Eclipse Mojarra project. Ask your vendor for a fix on this specific version. If this bug exists in the current version of Mojarra please open a new issue, add a reproducer using only core Mojarra and if you can create a PR fixing the issue

[2022-02-17 15:11] #4824 closed

[2022-02-18 16:39] mnriem commented on #4260
Relabeling as 2.3 as folks are saying it is an issue in 2.3 releases as well. Note that attaching a reproducer using only Mojarra will make it easier for the maintainers to address the issue.

[2022-02-19 13:31] mnriem commented on #4281
Relabeling as 2.3 as folks are saying it is an issue in 2.3 releases as well. Note that attaching a reproducer using only Mojarra will make it easier for the maintainers to address the issue.

[2022-02-19 13:40] mnriem opened #5046 "Describe steps necessary to help out with TCK"
The maintainers of the Mojarra project need your help as they are also maintainers of the underlying Faces 'spec' project.

 Filing here for visibility, awareness and a plea to help out!

[2022-02-19 13:43] arjantijms commented on #5046
Fork https://github.com/jakartaee/faces/

Open test class at https://github.com/jakartaee/faces/tree/master/tck/faces40

Add comment

Commit, create pr

[2022-02-19 13:46] arjantijms commented on #5046
For starters just add some reasonably detailed comment that explains what the test is testing. Bonus if that explanation can reference a phrase from javadoc or the spec document.

[2022-02-19 17:24] codylerum commented on #5046
@arjantijms Can you reference an example PR fixing one of these? That would give me a better idea of what you are looking for.

[2022-02-19 19:28] #5038 closed

[2022-02-20 08:54] #5036 closed

[2022-02-20 14:11] BalusC commented on #5044
It's better to target a specific browser feature rather than a specific browser version. E.g. "ES6 is required" or even "ES2020 is required".

As first step, we really really need to revive all missing integration tests from 2.3 branch into 4.0 (master) branch as a rather big part of them (in)directly test the jsf.js/faces.js, including all known and unknown corner cases.

Once done that, then I'd

[2022-02-20 14:22] BalusC commented on #5043
Norepro in 3.0.1 / 3.0.2 with CDI bean and empty web.xml and faces-config.xml. The value is not cleared for me.

- What package did you import `@RequestScoped` from?
- Any `<context-param>` in `web.xml`?
- Any handlers and/or factories in `faces-config.xml`?

[2022-02-20 14:23] BalusC commented on #5041
Noted should be that I cannot come up with a simple integration test for this (as long as we keep using GlassFish it is).

[2022-02-20 14:24] BalusC commented on #4947
Closing off as norepro.

[2022-02-20 14:24] #4947 closed

[2022-02-20 14:26] BalusC commented on #4945
Any luck, @wklaczynski ?

[2022-02-20 14:37] BalusC commented on #4828
I remember you having reported a similar issue against o:inputFile and in the end it turned to be caused by a spurious chrome browser extension. Have you tried incognito mode?

[2022-02-20 14:39] #4820 closed

[2022-02-20 14:42] BalusC commented on #4812
Already in 2.3.15.

[2022-02-20 14:42] #4812 closed

[2022-02-20 14:43] BalusC commented on #4800
Already in 2.3.15.

[2022-02-20 14:43] #4800 closed

[2022-02-20 15:03] BalusC commented on #4880
Still norepro.

With the `<p:poll>` sample I get `/test.xhtml`, `/jquery.js`, `/jquery-plugins.js` and `/core.js` as `file` argument, not `null` or an empty string as indicated by the warning messages. Try putting a breakpoint on `ExternalContextImpl#getMimeType()`. It  should help you in understanding where exactly that empty/null `file` is coming from.

[2022-02-20 15:16] BalusC commented on #4743
Reproduced.

Catch block should actually set `stateTimeoutEnabled = false` rather than attempting to parse the default.

[2022-02-20 15:26] BalusC commented on #4743
Fixed. It will now:
- disable the client state timeout when resolved context param has a negative value
- disable the client state timeout and log a warning when resolved context param is not parseable as long

[2022-02-20 15:28] BalusC commented on #5045
First: https://github.com/eclipse-ee4j/mojarra/issues/5044#issuecomment-1046246568

[2022-02-20 15:38] BalusC commented on #4814
Absolutely. The managed=true impl can just be rewritten in such way to simply make them managed beans instead of wrapping in a CDI delegate. Folks will likely not be surprised because managed=true is already not the default setting in first place.

[2022-02-20 15:46] BalusC commented on #4739
Reproduced as described. It works indeed fine in 2.3.3 and indeed broke in 2.3.4. But then it was fixed again in 2.3.13. It still works fine in current 2.3.17.

Closing off as already fixed.

[2022-02-20 15:46] #4739 closed

[2022-02-20 15:52] BalusC commented on #4714
Fixed via https://github.com/eclipse-ee4j/mojarra/issues/4734

[2022-02-20 15:52] #4714 closed

[2022-02-20 15:57] BalusC commented on #4699
Agreed.

[2022-02-20 16:06] BalusC commented on #4647
Confirmed fixed in 2.3.16 (and 2.3.17), I only cannot find associated integration test.

[2022-02-20 16:26] BalusC commented on #4647
Found it: #4925

Closing off.

[2022-02-20 16:26] #4647 closed

[2022-02-20 16:27] BalusC commented on #4642
Indeed already implemented in 2.3.17.

[2022-02-20 16:27] #4642 closed

[2022-02-20 16:44] melloware commented on #4880
OK i couldn't reproduce standalone Mojarra but its happening in our WildFly so i wonder if this is something Jboss patched by hand that is not in the main fork. They have been known to do that before. :)

[2022-02-20 16:47] arjantijms commented on #5046
@codylerum yes, a good example is this one from Manfred:

https://github.com/jakartaee/faces/commit/e3e73a90c4de4b096eda8b34ad566c4e18abe631

[2022-02-20 16:49] arjantijms commented on #5046
Copy pasting the change here to easily see the example:

***Before***

[code]

***After***

[code]

[2022-02-20 18:05] BalusC commented on #5046
Shouldn't that be @see? That allows automation.

[2022-02-21 10:05] BalusC commented on #5044
Just noticed there's already a TS impl https://github.com/werpu/jsfs_js_ts, mentioned here https://github.com/jakartaee/faces/issues/1598.

[2022-02-21 14:46] mnriem commented on #4580
@arjantijms Can this one be closed out?

[2022-02-21 16:40] arjantijms commented on #4580
yes, that job is there and has been used often.

[2022-02-21 16:49] #4580 closed

[2022-02-22 16:48] pizzi80 commented on #5043
my fault,
I've tried again and now
it's all working as expected

At first time I upgraded both mojarra and hibernate validator to the latest version and even after
a lot of maven  reload+clean + tomcat restart
there were (probably) wrong or multiple versions of jsf or hibernate validator

Sorry for the waste of time!

Just because You asked about my jsf config inside web.xml, I think that there ar

[2022-02-22 17:10] #4828 closed

[2022-02-22 18:25] BalusC commented on #5043
Okay then :)

As to the params, the `jakarta.faces.VALIDATE_EMPTY_FIELDS` already defaults to `true` and the other two have indeed an unfortunate default of `false` in name of strict backwards compatibility. Although I'm personally not against flipping the defaults .. Feel free to open a new issue specifically on that.

[2022-02-22 18:25] #5043 closed

[2022-02-25 15:37] codylerum opened #5055 "Improve unresolved navigation case log message"
Currently if a h:link/h:button outcome is invalid the user is logged the following message

`JSF1090: Navigation case not resolved for component j_idt363.`

Where `j_idt363` is the id of the component with the invalid outcome. Unfortunately for large applications with 10s or 100s of pages when a message like this is found in the server logs it is impossible to know what page or what component has

[2022-02-28 11:58] pizzi80 commented on #5043
Just for the record:

I've fixed the problem by removing  jakarta.validation-api dependency from pom.xml

[2022-02-28 14:24] mnriem commented on #4262
@tandraschko Can you supply a reproducer and/or fix?

[2022-02-28 14:25] mnriem commented on #4737
@alwin-joseph Can you supply a fix?

[2022-02-28 14:28] mnriem commented on #5041
@BalusC if this is fixed for 3.0 please close it and create a separate issue for 4.0 linking this issue or add a 4.0 label to this one so it does not get lost.

[2022-02-28 14:30] tandraschko commented on #4262
i dont have time to provide a PR or example but the following IF is missing in Mojarra: https://github.com/apache/myfaces/blob/c891d43c7740dd40c206b0638d23a11b69a0d441/api/src/main/java/jakarta/faces/component/UIData.java#L383

[2022-02-28 18:45] BalusC commented on #5041
Sorry, forgot to close this.

Already upmerged in 3.0 https://github.com/eclipse-ee4j/mojarra/commit/e879705f6c535bc13641445b4520f9d60f1e91ab
Already upmerged in 4.0 https://github.com/eclipse-ee4j/mojarra/commit/0c7e33a5a0c7d1ca17ca71dc07fb8f7b7fd55ed0

[2022-02-28 18:45] #5041 closed

[2022-03-01 16:44] mnriem commented on #5055
@codylerum I labeled it 5.0, but feel free to create a PR and apply it to earlier versions

[2022-03-02 12:12] rmartinc opened #5059 "FACELETS_REFRESH_PERIOD > 0 triggers incorrect rendering"
**Describe the bug**

If the option `javax.faces.FACELETS_REFRESH_PERIOD` is configured in the `web.xml` to something greater than 0 it makes that some attributes are not rendered OK for the components. In the attached application the HtmlForm loses the `style` attribute.

**To Reproduce**

Compile and deploy the attached app:

[code]
Go to the test page, http://127.0.0.1:8080/test-jsf/test.xhtml

[2022-03-02 12:27] arjantijms commented on #5059
Looks reasonable at a glance. Since we're just working in the 4.0 TCK now, test-jsf.zip could be made into a TCK test as well. @BalusC what do you think?

[2022-03-02 13:24] alwin-joseph commented on #4737
Fix in mojarra or tck ?

Actually this issue was created for JakartaEE 9 for which fix was made using PR4738 but now the schemas may need to be updated with JakartaEE 10  namespaces. There are xsds missing in https://jakarta.ee/xml/ns/jakartaee/#10 , eg: web-facelettaglibrary*.xsd. Were you asking to do similar schema update for JakartaEE 10 ?

[2022-03-03 11:35] rmartinc commented on #5059
If you want I can change the little app into a jakarta one and trying to create a test-app (or add the xhtml files to a existing one). But I cannot even compile the master branch right now cos the artifacts are not in maven (`jakarta.servlet:jakarta.servlet-api:jar:6.0.0` for example). I suppose some other dev repo should be used.

[2022-03-04 09:33] pizzi80 commented on #5059
can't reproduce on Faces 3.0.2 with the following conf:  :thinking:

[code]

[2022-03-04 10:04] rmartinc commented on #5059
Hi @pizzi80 !

I can reproduce the error in glassfish 6.2.3 (mojarra 3.0.1) and copying 3.0.2 into `${GLASSFISH_HOME}/glassfish/modules/jakarta.faces.jar`. Attached  my little project modified to be a jakarta one. If you click in the button several times (two) the style is missing in the form.

With my little change the style is not missed. Also tested.

[test-jsf-jakarta.zip](https://github.com/e

[2022-03-04 11:54] pizzi80 commented on #5059
very curious!
I'm testing on Tomcat 10.0.16 with Java 17

with the following java and xhtml snippets
the form colors never change even after a lot of rapid click :exploding_head:

this is a Java mistery that only @arjantijms or @BalusC can resolve

[code]

[code]

[2022-03-04 12:08] rmartinc commented on #5059
My test also fails in tomcat 10 and jdk 17. Note that the failure also depends in how the xhtml files are included and templated (when the timestamp is added). If you are testing with another app it can work OK. But my test fails in every jsf 3.0.2 no matter the jdk or the container. Please test with my reproducer.

[2022-03-04 12:28] pizzi80 commented on #5059
You're right!
At first I didn't understand that the problem was the template composition

reproduced also with ajax, the attributes are missing inside the response

[2022-03-04 14:10] mnriem commented on #5059
@rmartinc Sending a PR with it all would be a good way to go!

[2022-03-04 14:15] codylerum commented on #5055
@mnriem Since this is a log template that has been translated to a lot of languages is it ok just to add the new parameters on to the end of the existing patterns for other languages.

https://github.com/eclipse-ee4j/mojarra/blob/f3764b8553ccb3a0ad4fee37ac5a14c159a46751/impl/src/main/resources/com/sun/faces/LogStrings.properties#L116

For instance for English it could be

`JSF1090: Navigation case

[2022-03-04 16:04] rmartinc commented on #5059
I'll send a PR the next week. I could compile master branch adding repos from https://jakarta.oss.sonatype.org. But I see that now in master all the `test` folder is removed. So, if nobody says something different, I'll just send the little modification commented before. Thanks!

[2022-03-05 02:03] codylerum commented on #5055
I created #5060

I believe if componentId stays as the first parameter the other languages should just show as they do today until someone updates the translation to include the 2 new params

[2022-03-05 14:00] mnriem commented on #5055
@codylerum  Can you verify that indeed the other languages still work with this change? Thanks!

[2022-03-05 17:18] codylerum commented on #5055
@mnriem I realie things are in an odd place right now in developemnt but following the README I cannot `mvn clean install` looks like it is looking for `jakarta.servlet:jakarta.servlet-api:jar:6.0.0` which doesn't exist in public repos.

[code]

I did verify that when using the MessageFormat extra params do not cause an issue as would be the case with the other lanaguages.

Missing params just pri

[2022-03-06 14:30] mnriem commented on #5055
Write a unit test that takes the message and pushes it through MessageFormat and set the Locale?

[2022-03-06 20:51] codylerum commented on #5055
@mnriem Simple test added

[2022-03-07 02:07] larsgrefer opened #5061 "Redundant JSP checks in Mojarra 3.0"
The `com.sun.faces.config.ConfigureListener` in Mojarra 3.0.2 still contains checks for JSP 2.0 vs 2.1 and Tomcat 6

https://github.com/eclipse-ee4j/mojarra/blob/2fef22d9b3e5537279f5644f3f8a309cf9e51b66/impl/src/main/java/com/sun/faces/config/ConfigureListener.java#L613-L641

This should be redundant since Mojarra 3.x uses the `jakarta.*` packages and therefore requires at least JSP 3.0 and Tomcat

[2022-03-07 15:05] codylerum commented on #5055
Would anything different need to happen on this PR to target it to 4.0?

[2022-03-07 21:43] arjantijms commented on #5061
This check should be removed in master already (4.0).

[2022-03-07 21:45] arjantijms commented on #5059
That's correct, the tests have been moved to https://github.com/jakartaee/faces/tree/master/tck

They were always intended and setup to be implementation neutral, so we used them as base for the new TCK.

[2022-03-07 21:48] arjantijms commented on #5055
p.s. note that it's still on the roadmap to remove i18n from the log messages.

[2022-03-07 22:14] #5055 closed

[2022-03-08 00:02] larsgrefer commented on #5061
I think even for Mojarra 2.3.x (which contains the same code) some of these checks are redundant.
Even the very old Tomcat 6 already contained JSP 2.1

I noticed this while experimenting with Mojarra on some embedded Servlet Containers.
The above code gives interesting errors when there is no JSP implementation present at all.

[2022-03-08 00:16] arjantijms commented on #5061
Yes that's true. It just happens that I came across some of these (and others) in 4.0 ;)

There were tons of other checks as well, regarding Servlet 3, CDI 1.1, etc. Partially having to do with the Mojarra/faces "rule" of always supporting the previous Java EE version as well. I.e. JSF/Mojarra for EE 7 still had to support EE 6, while simultaneously taking advantage of EE 7 features.

[2022-03-08 00:24] larsgrefer commented on #5061
Even going as low as Java EE 6 would still mean Servlet 3+, JSP 2.2+ and Tomcat 7+

[2022-03-08 00:28] larsgrefer commented on #5061
For this check do make sense you'd need to run on Tomcat 5 or Glassfish 2:
[code]

[2022-03-08 00:28] mnriem commented on #5061
@larsgrefer Feel free to create a PR that Arjan can merge to get rid of these checks :)

[2022-03-08 00:29] mnriem commented on #5061
Note I labeled it 5.0 in case it does not make it for 4.0.

[2022-03-08 01:35] larsgrefer commented on #5061
@mnriem The `isJspTwoOne()` would then collapse to `isJsp()` and only check if there is a JSP implementation available at all.

What should happen, if there is no JSP implementation?
There seem to be two possible code paths for "no JSP" at the moment:

https://github.com/eclipse-ee4j/mojarra/blob/ae638f9169e9b53a79b6a5679d4e162e0178e83d/impl/src/main/java/com/sun/faces/config/ConfigureListener.jav

[2022-03-08 01:56] larsgrefer commented on #5061
This issue only affects Mojarra 2.3 and 3.0 since the all the JSP related code was removed for 4.x in 96757f39d47bf05060103b67933eb6afe9fd9278

[2022-03-08 09:51] fcjm opened #5065 "Component wrapping does not work properly in 2.3.17"
**Describe the bug**

We recently upgraded our Wildfly to version 26.0.1 which now provides JSF version 2.3.17. We have a case in which we use simple composite components which can wrap more complex components (more specificly the PrimeFaces DataTable). If the wrapping component only consists of simple html-Elements, the wrapped component will not work properly. First I thought this might be a pro

[2022-03-08 14:05] mnriem commented on #5065
Please remove PrimeFaces from the mix altogether to see if it is Mojarra causing the issue.

[2022-03-08 14:08] mnriem commented on #5061
@larsgrefer Great work!

[2022-03-09 17:54] #5061 closed

[2022-03-14 07:32] OBreidenbach commented on #5065
I created a reproducer without primefaces, so it is still the testcase provided from primefaces but I removed all decencies to primefaces.
[reproducr_without_primefaces.zip](https://github.com/eclipse-ee4j/mojarra/files/8242508/reproducr_without_primefaces.zip)

This reproducer uses just a <h:selectOneListbox>, but it could be any component.
As I said in my former comment, the component object ins

[2022-03-15 22:04] mnriem commented on #5065
Probably a regression because of #4934

[2022-03-17 08:45] BalusC commented on #5065
Excellent analysis/reproducer, very helpful. And yes Manfred this indeed looks like to be a regression of this original work: https://github.com/eclipse-ee4j/mojarra/pull/4808

[2022-03-17 09:48] pizzi80 opened #5068 "FacesConverter Lifecycle / Scope"
I found that a lot of people (me included) are confused
about the default scope of FacesConverter
or if it is even possible to define a Scope

https://stackoverflow.com/questions/15956072/jsf-converter-scope-when-using-cdi-seam-3-view-scoped

https://stackoverflow.com/questions/4268179/generic-jsf-entity-converter

https://stackoverflow.com/questions/19180457/jsf-custom-converter-life-cyle

https:

[2022-03-17 10:03] pizzi80 opened #5069 "Faces Validation config parameters default value and deprecation"
Talking with @BalusC on a previous issue he said to me that

[https://github.com/eclipse-ee4j/mojarra/issues/5043#issuecomment-1048086850](url)

So I'm asking if it is not better to set

`jakarta.faces.ALWAYS_PERFORM_VALIDATION_WHEN_REQUIRED_IS_TRUE = true`

and

`jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL = true `

Probably these two parameters should be deprecated and removed

[2022-03-17 16:48] mnriem commented on #5068
@pizzi80 Sounds like a spec change/clarification. Probably should be filed at the API project?

[2022-03-17 17:25] pizzi80 commented on #5068
absolutely, but I don't know where to submit this or other changes that time to time comes to my mind ...

Jakarta EE has too many github's projects with API specs and implementations ... :exploding_head:

[2022-03-18 01:13] arjantijms commented on #5068
The spec tracker is at https://github.com/jakartaee/faces

Maybe the explanation here helps: https://arjan-tijms.omnifaces.org/p/jsf-23.html#1316b

[2022-03-18 09:40] pizzi80 commented on #5068
thanks ...

Yes, I remember I've read your blog many years ago, maybe it was around 2015 ~ 2017 ... more than 5 years ago ;)

Rereading your post, this is the incriminated part:

A CDI Bean wrapper that delegate calls to a transient injected CDI Converter only to call
a String to Long conversion seems to much to me, isn't it ?

Before going to the specs side which requires 2 years to remove a LOC

[2022-03-18 11:06] udengaardandersent-ELS opened #5070 "NullPointerException NPE from CompositeComponentStackManager"
I see a NullPointerException happens when libraryName of the resource is null. (Running Mojarra 2.3)

https://github.com/eclipse-ee4j/mojarra/blob/6143ed8d9966b33fa202492005703b032692cb11/impl/src/main/java/com/sun/faces/component/CompositeComponentStackManager.java#L179
and here
https://github.com/eclipse-ee4j/mojarra/blob/6143ed8d9966b33fa202492005703b032692cb11/impl/src/main/java/com/sun/faces/

[2022-03-18 15:51] mnriem commented on #5068
@pizzi80 While I completely understand where you are coming from, you are asking for a behavior change. Those cannot be done on minor revisions as it would break existing applications. So if you and @arjantijms still have bandwidth to get it into 4.0 then go for it, otherwise you are looking at 5.0.

[2022-03-18 15:58] arjantijms commented on #5068
If it's too much or not maybe needs some qualification. Too much in terms of internal complexity in Mojarra? Had it started from scratch it would probably just have requested the converter as bean from CDI, without any wrapping in the existing converter construct.

Not necessarily, though it does often take a little bit more time.

[2022-03-18 17:06] pizzi80 commented on #5068
LOL

thank you guys for all the clarifications :+1: :+1:

I'm not able at the moment to provide a PR because I'm not an Eclipse registered contributor,
also there a lot of specs to respect that are time consuming to study
and maintained only in the sake of backward compatibility
so I don't know if my PRs will be accepted

In the meantime I'll override the default FacesConverters
with an Applicatio

[2022-03-19 00:10] Edwardiv1 commented on #4306
Is there any update on how to handle this? Does JSF 3.0 work?
I'm still having this issue, now with Tomcat 9.0 and JSF 2.3

[2022-03-19 13:18] mnriem commented on #5069
@pizzi80 Can you please open this issue at the API project as it is a change in behavior. Thanks!

[2022-03-19 16:30] BalusC commented on #5065
Okay, nailed down. This does at first glance not seem to be a regression but just an existing bug being uncovered which was previously seemingly worked around with the original inefficient implementation of `ComponentSupport#findChildByTagId()`.

`ComponentTagHandlerDelegateImpl#apply()` looks like this: https://github.com/eclipse-ee4j/mojarra/blob/2.3.17-RELEASE/impl/src/main/java/com/sun/faces/f

[2022-03-19 22:20] BalusC commented on #5070
Understood, but do you have a reproducer? Composite component resources cannot have a null library name in first place. They are by specification required to be placed in a subfolder of resources folder (that subfolder becomes the library name). So if a composite component library name turns out to be null then that would strongly suggest that there's something corrupted.

[2022-03-19 22:21] BalusC commented on #5069
https://github.com/jakartaee/faces/issues/1647

[2022-03-19 22:21] #5069 closed

[2022-03-19 22:22] BalusC commented on #5068
https://github.com/eclipse-ee4j/mojarra/issues/5068

[2022-03-19 22:22] #5068 closed

[2022-03-19 22:32] BalusC commented on #5059
Should also be fixed in 2.3 and 3.0.

[2022-03-20 13:20] udengaardandersent-ELS commented on #5070
I'm indeed working with dynamic composite components.
I'm working on migration an application to a newer version of mojarra, and these errors started to appear.

[2022-03-21 16:16] OBreidenbach commented on #5065
@BalusC, thank you for the fixing this so fast.

[2022-03-22 09:35] #5065 closed

[2022-03-28 14:27] he-bio opened #5073 "Vanish input data after triggering an immediate command"
**Describe the bug**

With JSF 2.3.17 an immediate command let vanish all input data of a "form" which has no bindings. This happened only with: PARTIAL_STATE_SAVING == false

With JSF 2.3.15 this is not the case, all data will be displayed after triggering an immediate command.

Is this a bug or expected behavior when PARTIAL_STATE_SAVING == false?

**To Reproduce**

Steps to reproduce the behavi

[2022-03-30 09:49] miguelzapaton commented on #5073
+1

2.3.17 breaks my application. The state of all form fields is lost when validation fails.

2.3.16 still works perfectly.

[2022-04-01 17:08] oseimel commented on #4946
Hi @mnriem
thx for your reply. Unfortunately not at the moment.
But as I read there are already some interesting things going on. @BalusC offered to do a rewrite of faces.js in
https://github.com/eclipse-ee4j/mojarra/issues/5044#issuecomment-1046246568
Maybe he could implement Point 2 "Support of ES6 modules" within the scope of that rewrite?

Kind regards
Oliver

[2022-04-01 17:13] varoliver commented on #4946
Hi @mnriem
thx for your reply. Unfortunately not at the moment.
But as I read there are already some interesting things going on. @BalusC offered to do a rewrite of faces.js in
https://github.com/eclipse-ee4j/mojarra/issues/5044#issuecomment-1046246568
Maybe he could implement Point 2 "Support of ES6 modules" within the scope of that rewrite?

Kind regards
Oliver

[2022-04-06 09:11] BalusC commented on #5073
Reproduced.

Norepro. Probably you also had an immediate command and it's not related to validation failures.

---

It's really bad that this has slipped through the integration tests. Historically they also ran with PSS turned off but this is since Jakarta migration not anymore happening.

That said, the immediate attribute has since JSF 2.0 lost its real value because the originally intended fun

[2022-04-06 10:56] BalusC commented on #5073
Regression of performance optimizations done in https://github.com/eclipse-ee4j/mojarra/pull/4808. It was in hindsight not compatible with Full State Saving. It was not immediately obvious how to get it to work with FSS anyway, so I've for now simply restored the original implementation and added an if/else on PSS/FSS and let the FSS condition run the original implementation.

Noted should be that

[2022-04-06 11:58] arjantijms commented on #5073
Indeed, FSS will be deprecated in Faces 4 for removal. (small historical note, it should never have been included in the first place, and during the initial JSF design plans it was already controversial to fully save the state)

[2022-04-10 14:49] BalusC commented on #5073
Definitely in favor of this.

[2022-04-10 15:02] BalusC commented on #5073
Upmerged into 3.x and 4.x branches.

Frankly I'm not sure where it is. It was previously automated via Hudson. @arjantijms how exactly is this currently configured?

[2022-04-12 08:34] chris21k opened #5075 "Injection in @FacesValidator and friends does not work always"
Injection in a Facesvalidator still (at least Tomcat 10.0.18, Mojarra 3.0.2, Weld 5.0.0.CR2) does not work, althouth the class is annotated with @FacesValidator(managed = true) . All injected attributes stay null and produce NPE as a consequence.
A surprising hot fix is to use @FacesValidator(value = "xxxValidator", managed = true), i.e., to set a name is necessary instead using by default the cla

[2022-04-12 12:32] Exandra opened #5076 "Composite components inside composite components"
**Describe the bug**

We’re using composite components inside composite components. E.g. we are using dataTables inside dataTables. (e.g. expanded dataTable with PrimeFaces p:rowExpansion).

Since 2.3.17 (WildFly 26) we encounter the problem, that the inner components *var* value is empty (after an update), when both the inner and outer component are using the same ID. Prior 2.3.17 everything work

[2022-04-13 10:35] fanste opened #5077 "UIRepeat: Dynamically added UIRepeat generates invalid clientID"
**Describe the bug**

In our application we have a dynamicalle added `UIRepeat`. It is added in `PreRenderViewEvent`. The `UIRepeat` itself is contained in a column of a Primefaces DataTable.

When a not-null list is set as the value of the `UIRepeat`, its DataModel is normally intialized with `index = -1` and then overwritten by `setRowIndex(0)`. _(This could also be a 'bug' in my opinion. Why is

[2022-04-13 10:50] fanste commented on #5077
Additionally MyFaces has another difference in its implementation:

The method `getClientId` is not overridden and therefore never includes the iteration index. Instead the method `getContainerClientId` is used to get the client ID including the iteration index.

[2022-04-14 14:32] pizzi80 commented on #5075
The bug is confirmed also with
 - Mojarra 3.0.2
 - Weld 4.0.3 (which _should_ be the right version for Mojarra 3.x)
 - Hibernate Validator 7.0.4  (optional)

Injection does not work even declaring the name of validator
`@FacesValidator(value = "xxxValidator", managed = true)`

to solve I use one the following workaround:

**Alternative 1**: use manual injection inside the validate method

`BeanSer

[2022-04-22 13:02] comiCH commented on #5073
Hello there

We are currently experiencing some problems with Mojarra 2.3.17 which might be related to this issue and #5065.
These problems seem to have their root cause in the changes of #4808.

We are migrating an app with JSF and PrimeFaces 8 to WildFly 26.0.1.
Doing so, we found out that several PrimeFaces components no longer function properly, e.g.
- the AutoComplete component never shows an

[2022-04-22 13:48] melloware commented on #5077
Excellent report!

[2022-04-24 11:50] BalusC opened #5078 "UIRepeat visitTree does not properly capture/restore the orig value"
Discovered during https://github.com/omnifaces/omnifaces/issues/683

The fix for https://github.com/eclipse-ee4j/mojarra/issues/4830 was not properly implemented. It should have reused the existing `captureOrigValue()` / `restoreOrigValue()` methods.

[2022-04-24 11:56] #5078 closed

[2022-04-24 12:18] BalusC commented on #5078
FYI: all tests passed on 2.3.

[2022-04-24 12:20] BalusC commented on #5078
Fix present in:
2.3: https://github.com/eclipse-ee4j/mojarra/commit/0ef7266a73690ac6baaf09882b96109ee5f9a8fd
3.0: https://github.com/eclipse-ee4j/mojarra/commit/b80447e305f07ecdb5a06b2ce00f6baf0e429a09
4.0: https://github.com/eclipse-ee4j/mojarra/commit/cf09fcafe9f0a9cf2912a5492e6fe3b34c3fec9d + https://github.com/eclipse-ee4j/mojarra/commit/d5a6881fd64bdf2789f05758e15cbdcb63a37b49

[2022-04-27 12:55] Toru47 opened #5079 "Beans with @FacesConfig annotation are not injectable per CDI (2.3.14)"
[code]

[code]

WildFly 21.0.0.Final
Mojarra 2.3.14.SP01
Weld 3.1.5 (Final)

[2022-04-27 22:18] arjantijms commented on #5079
`FacesConfig` is a qualifier. So `FooBean` is qualified by it. When you are injecting a plain `FooBean`, you are asking CDI to get you one without qualifiers. But there isn't one without qualifiers from your example.

You should probably not put `FacesConfig` on a bean that you are also injecting.

[2022-04-28 05:05] Toru47 commented on #5079
Okay, thx.

[2022-04-28 05:05] #5079 closed

[2022-04-28 22:06] scottmarlow opened #5080 "Incorrect "CDI is not available" IllegalStateException is thrown"
**Describe the bug**
https://github.com/eclipse-ee4j/mojarra/commit/808d9edc832045353585aa177a59d7c49f224784 changed to expect a CDI BeanManager to always be available but due to CDI 4.0 changes, that is now wrong which is explained in https://eclipse-ee4j.github.io/cdi/2021/10/25/way-to-cdi4.html:
[code]

In summary, with Jakarta EE 9 (CDI 3.0), most applications had an CDI Bean Manager available

[2022-04-29 09:40] fanste commented on #5077
I exchanged the UIRepeat with a custom/fixed implementation and until now statically and dynamically used UIRepeat is working just fine.

The only change is to cache `index` instead of `rowIndex`.

[2022-04-29 10:19] melloware commented on #5077
@fanste are you going to submit a PR or do you want me to?

[2022-04-29 12:28] melloware commented on #5077
Actually looking at your comments above maybe its best if you submit a PR for review?

[2022-04-29 15:34] scottmarlow commented on #5080
I'm closing this due to Faces 4.0 SPEC having a hard requirement that all Faces 4.0 application deployments to be configured to enable CDI.  We will deal with that in the Platform TCK, at least that is now the plan.

[2022-04-30 13:44] BalusC opened #5081 "UISelectMany#getSubmittedValue() should not default to empty string"
https://stackoverflow.com/q/71693174

Occurs in 2.3.x.

[2022-04-30 15:09] #5081 closed

[2022-05-03 13:53] scottmarlow opened #5084 "Jakarta EE 10 Platform TCK + Faces test failure: GlassFish 7 (with Mojarra 4.0.0-M7-RELEASE) is throwing com.sun.faces.application.view.ViewHandlingStrategyNotFoundException during com.sun.faces.application.view.MultiViewHandler.getViewDeclarationLanguage() call"
**Describe the bug**

Jakarta EE 10 [Platform TCK test results ](https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/1779/artifact/ejb30_lite_appexception-results.tar.gz) shows the below failure.

[2022-05-03T12:21:43.003+0000] [glassfish 7.0] [WARNING] [] [jakarta.enterprise.web] [tid: _ThreadID=30 _ThreadName=http-listener-1(3)] [timeMillis: 1651580503003] [levelValue: 900] [[
  St

[2022-05-03 17:20] scottmarlow commented on #5084
Closing as https://jakarta.ee/specifications/faces/4.0/ has:
[code]

https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/common/vehicle/ejblitejsf/ejblitejsf_vehicle.jsp#L26

[2022-05-03 17:20] #5084 closed

[2022-05-04 07:43] fanste commented on #5077
PR https://github.com/eclipse-ee4j/mojarra/pull/5089

[2022-05-04 08:25] fanste opened #5092 "Dynamcially added UIInstruction (e.g. via Composite Component) not restored"
Currently observed in 2.2.19, but code seems to be the same in newer versions.

**Description**
In our application we are using dynamically added composite components - those components are added in the RenderViewPhase.
Currently it seems like plain HTML is not supported in those dynamic scenarios and a later restore simply drops the plain HTML.

The root cause is, that the plain HTML is parsed as

[2022-05-12 12:27] jensberke opened #5094 "In PROJECT_STAGE other than "Production", attributes are not being re-rendered after AJAX requests in some situations"
**Describe the bug**

When setting `javax.faces.PROJECT_STAGE` to another value than `Production` *and* the page contains a tag from a custom tag library *and*  some more standard components are near this custom tag, global attributes like `style` or `title` of these standard components are not being re-rendered after 2 AJAX requests. See the attached reproducer for more information about when thi

[2022-05-13 14:31] pizzi80 commented on #5044
is it still relevant to use TypeScript for jsf ?

jsf 4+ is still not available and probably will be adopted by devs during 2023
and for that time all the web browsers will support
javascript  classes / modules / private fields / public fields ...

just saying ...

[https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields#examples](url)

[2022-05-14 11:05] arjantijms commented on #5044
Faces 4 is currently in ballot. The ballot will end in a few days, and then I'll push the staged API jars out to central.

We can then use master for this and other issues.

[2022-05-14 12:03] #5044 closed

[2022-05-14 14:49] melloware commented on #5094
Interesting we have been using Mojarra for years with Jboss/Wildfly and we run Development Mode locally and Production Mode on our servers and have not noticed this behavior.  Very strange.

[2022-05-14 14:52] arjantijms commented on #5094
This is a strange one indeed. @BalusC any ideas?

[2022-05-16 13:02] melloware commented on #5094
Here is a much easier test case:
[mojarra-5094.zip](https://github.com/eclipse-ee4j/mojarra/files/8700188/mojarra-5094.zip)

Just run `mvn clean jetty:run -Pmojarra23` and navigate to http://localhost:8080/primefaces-test/test.xhtml

if you run with `-Pmyfaces23` it works fine but fails with Mojarra as described.

[2022-05-17 16:01] melloware commented on #5059
I have added backports for 2.3 and 3.0 PRs

[2022-05-20 17:35] BalusC commented on #5094
Reproduced.

Work around for now:
[code]

[2022-05-20 17:40] #5059 closed

[2022-05-20 19:08] BalusC commented on #5094
As @melloware apparently (correctly) guessed, this was fixed in https://github.com/eclipse-ee4j/mojarra/issues/5059 which was only recently backported for 2.3: https://github.com/eclipse-ee4j/mojarra/pull/5095

Against the current 2.3 branch, the reported problem is not anymore reproducible, so closing off.

[2022-05-20 19:08] #5094 closed

[2022-05-20 19:31] #5077 closed

[2022-05-20 19:34] BalusC commented on #5077
FYI: I ran entire 2.3 test set against (which is way more complete than the Faces TCK in its current form) and all tests passed.

[2022-05-20 19:39] BalusC commented on #5077
All merged now, thank you very much for reporting this issue and the PR!

[2022-05-20 19:45] arjantijms commented on #5046
Steps have been described and people have helped. Lots of thanks to all!

[2022-05-20 19:45] #5046 closed

[2022-05-21 13:10] melloware opened #5097 "UIForm: Performance Improvement"
Based on MyFaces fix: https://issues.apache.org/jira/browse/MYFACES-4283

In case when invokeOnComponent is used and the form has prependId=true, we can early skip the whole component tree if the baseClientId != form clientId.

I discovered this while working on this PFE issue: https://github.com/primefaces-extensions/primefaces-extensions/issues/799

[code]

[2022-05-22 11:02] #5097 closed

[2022-05-22 11:44] BalusC commented on #5097
FYI: all 2.3 tests passed.

[2022-05-23 16:23] Toru47 opened #5101 "Mojarra 2.3.14.SP01: Setting WildFly-21.0.0.Final to loglevel FINEST results in wrong EL evaluation"
MyBean.java:

[code]
index.xhtml:
[code]
Setting Wildfly loglevel to e.g. INFO or DEBUG `myBean#lst` is not called. That is what I do expect because `h:dataTable` list is empty. Setting loglevel to FINEST results in a NPE because `myBean#lst` is evaluated. But why? The `h:dataTable` list is still empty.

[code]

[2022-05-23 17:33] mnriem commented on #5101
As you have set the log level to DEBUG you have asked the Mojarra runtime to print the component tree. In order to do that it has to walk each of the nodes in the tree and determine what has to be printed. It appears your model is not taking into account that the component tree can be walked before, during and after any of the lifecycle phases.

[2022-05-24 06:53] Toru47 commented on #5101
Thanks for your answer. Okay, I understand that `f:selectItems` is obviously a taghandler which is executed during view build time. But why only in JSF debug mode? If I run WildFly not in debug mode the method `myBean#lst` is not called. This is a little bit strange.

[2022-05-24 13:11] mnriem commented on #5101
As the dataTable value is an empty list during regular render response it will not ask for the h:column because it already knows there is nothing to add to the response. This is why in normal operation you do not see the call happening.

[2022-05-24 13:11] #5101 closed

[2022-05-24 18:38] melloware commented on #4547
This looks like it was already ported to 3.0 and 4.0 and can be closed.

[2022-05-24 18:40] #4547 closed

[2022-05-24 19:13] melloware commented on #4696
MyFaces has the exact same issue reported almost identical test case: https://issues.apache.org/jira/browse/MYFACES-4161

Here is a simple reproducer with `mvn clean jetty:run`  [mojarra-4696.zip](https://github.com/eclipse-ee4j/mojarra/files/8765628/mojarra-4696.zip)

[2022-05-24 19:40] lprimak commented on #4431
@arjantijms :)

[2022-05-24 22:19] arjantijms commented on #4516
@melloware the submitter closed it in favour of https://github.com/IQSS/dataverse/pull/8242

[2022-05-24 23:14] arjantijms commented on #4431
Thanks for the ping ;)

[2022-05-24 23:14] #4431 closed

[2022-05-25 20:27] melloware commented on #5077
I believe this also fixed https://github.com/eclipse-ee4j/mojarra/issues/4261

[2022-05-25 20:38] melloware commented on #4678
OK created new reproducer:
[primefaces11-deferred-ajax.zip](https://github.com/eclipse-ee4j/mojarra/files/8774369/primefaces11-deferred-ajax.zip)

It works with PF 11.0 and Mojarra 2.2 and 2.3 so I think this ticket can be closed.

[2022-05-25 20:46] melloware commented on #4509
I am looking at the source code of 2.3 and it looks like this fix was implemented so this issue can be closed.

[2022-05-25 21:02] melloware commented on #4562
Updated reproducer:
[pf-4771.zip](https://github.com/eclipse-ee4j/mojarra/files/8774514/pf-4771.zip)

[2022-05-25 21:09] melloware commented on #4358
This also appears to be fixed in the code base and can be closed.

[2022-05-25 22:18] #4509 closed

[2022-05-26 16:17] volosied opened #5105 "f:metadata and f:view behavior"
**Describe the bug**

I've found implementation differences between Mojarra and MyFaces, and I'd like to know what behavior is correct?

The [specification documents say that f:metadata](https://jakarta.ee/specifications/faces/3.0/vdldoc/f/metadata.html ) "must be a child of the <f:view>".   When it's not a child of f:view, should an exception be thrown?

Mojarra doesn't throw any exceptions, but

[2022-05-26 16:18] volosied commented on #5105
Some previous discussion:
- https://www.mail-archive.com/users@myfaces.apache.org/msg57251.html

- `https://github.com/adminfaces/admin-template/issues/61`

[2022-05-26 17:28] codylerum commented on #5105
Definitely an exception over silently failing.

[2022-05-27 09:29] pizzi80 commented on #5105
+1 for exception

Questions for the future (probably must be discussed in Faces API)

1)
why f:metadata must be inside f:view?
it would be techically possible to put it like at the same level of h:head or h:body ?

2) why f:view exists? if it's an "xhtml" (or any other mapped extension) page
    it's an f:view ... we'are using jsf, it's quite normal that every page is a "faces view"

[2022-05-27 11:31] pizzi80 commented on #5105
yes, all these attributes could be moved to the html tag, for example:

probably the f:metadata has no sense at all in terms of JSF

As stated many time during the last 10+ years JSF is a framework generating HTML, for example:

https://stackoverflow.com/questions/10982762/how-to-generate-json-response-from-jsf

In this way it would be possible to create a template or a page in a simpler and more

[2022-05-27 11:40] melloware commented on #5105
@pizzi80 that sounds like a JSF spec change and we shouldn't pollute this specific topic with it since this is about the "current" spec and what we should do.  You could probably open a Faces Spec ticket.

[2022-05-27 12:29] pizzi80 commented on #5105
created

https://github.com/jakartaee/faces/issues/1683

[2022-05-27 22:43] #4166 closed

[2022-05-27 22:44] #4358 closed

[2022-05-27 22:46] #4678 closed

[2022-05-28 12:15] melloware commented on #5105
I think the difference with two implementations is that MyFaces extends `TagHandler` so it can check...

[code]

But in Mojarra its not a TagHandler so checking for the parent won't be as straighforward as far as I can tell.

[2022-05-29 14:46] BalusC commented on #4260
@melloware : I'm not seeing how that fixes the issue. Probably you meant to check `if (this.attachedObjects.length > 0) {` or better `if (this.attachedObjects.length == attachedObjects.length) {`

A reproducer would still be useful so it could be covered in IT / TCK.

[2022-05-29 15:04] BalusC commented on #4945
Norepro and nofeedback, closing off.

[2022-05-29 15:04] #4945 closed

[2022-05-29 15:04] BalusC commented on #4880
Norepro, closing off.

[2022-05-29 15:04] #4880 closed

[2022-05-29 15:08] BalusC commented on #5075
Reproduced.

That's indeed expected. Technical explanation is that the Mojarra implementation explicitly searches for an instance literally annotated as such. I.e. `<f:validator validatorId="fooValidator">` explicitly searches for `@FacesValidator(value = "fooValidator", managed = true)`. It does not search for any `@FacesValidator(value = "", managed = true)` after which the classname is filtered

[2022-05-29 17:01] #4743 closed

[2022-05-29 17:01] #4699 closed

[2022-05-29 17:08] BalusC commented on #4539
Reproduced in 2.3.17

[2022-05-29 17:12] BalusC commented on #4516
Was already fixed during #5036

[2022-05-29 17:12] #4516 closed

[2022-05-29 17:32] BalusC commented on #4281
Still reproducible in 2.3.17. The long lost PR is here: https://github.com/javaee/mojarra/pull/4282

[2022-05-29 17:36] BalusC commented on #4281
I've verified that the original fix is working. I'll run the entire 2.3 test set first before prepping a new PR.

[2022-05-29 17:41] melloware commented on #4260
You are right this only prevents possible NPE. I will update the PR

[2022-05-29 17:47] Toberumono commented on #4281
The same issue applies to JSF 3.0 as well. Should I make a new PR or will this also get merged into JSF 3.x? The fix is identical for 3.x, if that helps.

[2022-05-29 17:49] BalusC commented on #4281
I'll upmerge, no worries.

[2022-05-29 17:51] Toberumono commented on #4281
Actually, I have another PR from the old repository. I'm not sure if it was ever considered - it might count as a new feature.
It's this one: https://github.com/javaee/mojarra/pull/4275

[2022-05-29 18:02] #5075 closed

[2022-05-29 18:08] BalusC commented on #4260
Scratch above commit, the ticket number was wrong, it's actually for https://github.com/eclipse-ee4j/mojarra/pull/5072

[2022-05-29 20:09] melloware commented on #4260
OK I added `&& this.attachedObjects.length == attachedObjects.length` to the if I still want to leave the NULL check in there though,

[2022-06-01 08:28] Toru47 opened #5110 "2.3.14: @FacesConverter injection with CDI is not supported - NPE"
CDI is not working as expected in custom FacesConverter despite set to `managed = true`. The injected member keeps null:

ApplicationBean.java:
[code]
ComDateConverter.java:
[code]
faces-config.xml:
[code]
test.xhtml
[code]
Or is this issue also fixed with https://github.com/eclipse-ee4j/mojarra/issues/5075?

Tests with WildFly 21.0.0.Final and JDK 11.0.3.

[2022-06-02 15:49] #4260 closed

[2022-06-09 14:40] tandraschko commented on #4696
@BalusC i think the `@form` problem is the similar as: https://github.com/primefaces/primefaces/issues/8801

we look for the parent form but its not relocated at this place

[2022-06-16 13:24] melloware opened #5117 "2.3: java.io.NotSerializableException: org.primefaces.model.file.UploadedFileWrapper"
**Describe the bug**

Original Report: https://github.com/primefaces/primefaces/issues/1805

**To Reproduce**

Reproducer:  [pf-1805.zip](https://github.com/eclipse-ee4j/mojarra/files/8919189/pf-1805.zip)

Set...
[code]

Set to `server` it works fine.

Steps to reproduce the behavior:
1. Run `mvn clean jetty:run`
2. Try and upload a file inside the datatable
3. See error

[code]

**Expected behavi

[2022-06-18 01:41] fukumotyo opened #5118 ""javax.faces.WEBAPP_RESOURCES_DIRECTORY" behavior is not correct."
**Describe the bug**

The API document below states that it must not start with a "/", but if it does not start with a "/", it will not work.

[ResourceHandler#WEBAPP_RESOURCES_DIRECTORY_PARAM_NAME](https://jakarta.ee/specifications/faces/2.3/apidocs/javax/faces/application/resourcehandler#WEBAPP_RESOURCES_DIRECTORY_PARAM_NAME)

**To Reproduce**

Steps to reproduce the behavior:
1. Set the followi

[2022-06-19 00:57] chris21k opened #5119 "Injection in @FacesValidator"
With Mojarra 4.0.0 and Weld 5.0.0.SP2 injection in a @FacesValidator now works as desired with an annotation @FacesValidator{managed = true), instead of the previously necessary @FacesValidator(value = xxxValidator, managed = true). I believe this was the fix for issue #5075 . So far, so good/great.

However, as long time ago stated in #4245, more precisely in https://github.com/eclipse-ee4j/mojar

[2022-06-19 18:35] BalusC opened #5120 "Non-existent view with non-standard mapping incorrectly throws ViewHandlingStrategyNotFoundException instead of returning 404"
Discovered in https://github.com/omnifaces/omnifaces/commit/9d1ebaf2f6807cbe9040e49ed8ae4c724db8483f

Have an additional mapping on FacesServlet using an URL pattern which does not match Facelets default suffix:

[code]

Opening non-existent view on an URL pattern which **coincidentally** matches Facelets default suffix of .xhtml such as `/foo.xhtml` correctly returns 404.

However, opening non-ex

[2022-06-20 08:23] tandraschko commented on #5105
also related to: https://github.com/jakartaee/faces/issues/1466

[2022-06-20 20:30] pizzi80 commented on #5119
now I understand why for me `@Inject` never worked!!

[2022-06-24 09:39] pizzi80 opened #5126 "valueChangeListener + f:ajax wrong jakarta.faces.partial.execute value"
**Describe the bug**

The `jakarta.faces.partial.execute` parameter contains two times the elemen.name value

for example:

`jakarta.faces.partial.execute: change:note change:note`

**To Reproduce**

[code]

[code]

**Expected behavior**

The `jakarta.faces.partial.execute` parameter value should be

jakarta.faces.partial.execute: change:note

**Screenshots**

![Schermata da 2022-06-24 11-38-05](h

[2022-06-24 09:42] pizzi80 commented on #5126
the problem is inside faces.js

`options.execute = element.name + " " + element.id;`

[2022-06-24 11:34] pizzi80 commented on #4946
What do you mean for "async" request?

actually inside faces.js what I see is:

[code]

so basically the request is async

from the Mozilla doc:

https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests#asynchronous_request

[2022-06-24 18:08] pizzi80 commented on #5126
fixed with last commit of

https://github.com/eclipse-ee4j/mojarra/pull/5125

[2022-06-25 13:39] #4281 closed

[2022-06-25 13:57] BalusC commented on #5118
Wow, that's an awkward oversight there.

The original spec issue is this: https://github.com/jakartaee/faces/issues/996
There's even a comment pointing out this deviation: https://github.com/jakartaee/faces/issues/996#issuecomment-518574116
I guess the deviation was caused by mix-up of two initial proposals as commented here: https://github.com/jakartaee/faces/issues/996#issuecomment-518574106

Fo

[2022-06-25 14:13] BalusC commented on #5119
Work around: put a CDI scope annotation on the validator, e.g. `@Dependent` or `@ApplicationScoped`, depending on the desired scope of the state of the validator instance.

[2022-06-25 15:36] erickdeoliveiraleal commented on #4264
is this fixed? @arjantijms @hantsy

[2022-06-25 16:30] erickdeoliveiraleal commented on #4106
already fixed @BalusC @arjantijms

[2022-06-25 17:17] erickdeoliveiraleal commented on #5076
reproduced with 2.3.18

[2022-06-25 22:29] fukumotyo commented on #5118
I should have added at the beginning that WEBAPP_CONTRACTS_DIRECTORY has the same problem.

[2022-06-25 22:34] fukumotyo commented on #5118
I should have added at the beginning that WEBAPP_CONTRACTS_DIRECTORY has the same problem.

The operation was closed by mistake and will be reopened.

[2022-06-25 22:35] fukumotyo commented on #5118
I should have added at the beginning that WEBAPP_CONTRACTS_DIRECTORY has the same problem.

The operation was closed by mistake and will be reopened.

[2022-06-26 01:56] hantsy commented on #4264
I will confirm this in my new ee10 sandbox, thanks.

[2022-06-26 09:03] hantsy commented on #4264
Verified, it seems not a problem now. https://github.com/hantsy/jakartaee10-sandbox/tree/master/faces

[2022-06-26 12:10] BalusC commented on #5118
Confirmed. I'll adjust that one as well.

[2022-06-26 12:35] #5118 closed

[2022-06-27 12:44] melloware commented on #5117
Figured the issue out its not serializing on either MyFaces or Mojarra because its a PF issue storing state.

The problem is with Native JSF uploading its using Servlet 3.0 to do the upload instead of Apache Commons Upload.

See: https://github.com/primefaces/primefaces/blob/dc062460b17ac3564118b78e1e44eae2467a05c5/primefaces/src/main/java/org/primefaces/model/file/NativeUploadedFile.java#L42

The

[2022-06-27 12:44] #5117 closed

[2022-06-27 14:15] pizzi80 opened #5140 "html code inside ui:decorate breaks ui:param evaluation"
**Describe the bug**

If you add normal static html inside an ui:decorate all the ui:param(s) are null!

One of the latest commits broken this ( 2 o 3 days ago )

**To Reproduce**

[code]

**decorate.xhtml**

[code]

**Actual result**

#{inputId} is null!

[code]

**Expected result**

[code]

[2022-06-27 17:31] melloware commented on #5140
@pizzi80 this is against the 4.0 master code version or another branch?

[2022-06-27 17:53] pizzi80 commented on #5140
the bug is in the current maste,

so to better test my implementations I've created a branch in my forked mojarra
and then commit / push to master

no problem if I have to commit again, let me know

[2022-06-27 18:19] pizzi80 commented on #5140
today I spent an hour finding the bug with no luck. :(

Maybe @BalusC knows more about what has changed in the last 2 days?

[2022-06-27 18:58] melloware commented on #5140
Reproducer:
[mojarra-5140.zip](https://github.com/eclipse-ee4j/mojarra/files/8994828/mojarra-5140.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

Issue: https://github.com/eclipse-ee4j/mojarra/issues/4281

Commit: https://github.com/eclipse-ee4j/mojarra/commit/1e187e88fe305352e786aeed5acb65b3d30e46bf

[2022-06-27 19:04] melloware commented on #4281
Just an FYI this fix broke a scenario in #5140

[2022-06-28 18:56] BalusC commented on #5140
Usually glancing over last commits is sufficient: https://github.com/eclipse-ee4j/mojarra/commits/master

[2022-06-28 19:24] melloware commented on #5140
@BalusC i verified the fix that caused it above and the ticket associated.

[2022-06-28 19:29] pizzi80 commented on #5140
yes, I tried but didn't found the cause 😑

[2022-06-30 14:21] brivalin opened #5148 "2.3.18: Server side generated UITreeNode lost after updating Tree (Primefaces)"
**Describe the bug**

After generating a Tree component server side, with its UITreeNode childrens. The tree is well-generated.
But when I update the Tree bound in @RequestScoped bean, it loses UITreeNode childrens previously created for Tree.

Original Report : [https://github.com/primefaces/primefaces/issues/8916](url)

**To Reproduce**

Reproducer: [pf-8916.zip](https://github.com/eclipse-ee4j/

[2022-07-05 14:23] melloware commented on #5140
I am going to leave this one to @BalusC and @arjantijms to fix because I am hestitant to move that 1 line of code back where it was there might be a more elegant fix.

[2022-07-22 18:44] varoliver commented on #4946
Yes, the requests are async but multiple requests get queued by JSF.
The browser could and should execute them in parallel.

[2022-08-28 16:38] mnriem commented on #5045
I am closing this one as I have not found anyone to pick it up or found time to work on it myself.

[2022-08-28 16:38] #5045 closed

[2022-09-04 03:56] enjanjoe opened #5150 "ui:repeat with begin and end continuous increment"
**Description**

Submitting the following form causes the repeat component to run two more times every time.

[code]

**Output on page load**
0 1 2 3 4

**Output on 1st submit**
0 1 2 3 4 5 6

**Output on 2nd submit**
0 1 2 3 4 5 6 7 8

and it goes on..
using the step attribute with value > 1 causes even more erratic behavior.

Tested with WildFly 18.0.0.Final and Glassfish 5.0.1

[2022-09-04 10:46] melloware commented on #5150
Here is a runnable reproducer:
[mojarra-5150.zip](https://github.com/eclipse-ee4j/mojarra/files/9484494/mojarra-5150.zip)

`mvn clean jetty:run -Pmojarra23` and then navigate to http://localhost:8080/primefaces-test/test.xhtml

[2022-09-12 18:16] prince-jn opened #5151 "2.3.18 JSF1098 is falsy logged"
**Describe the bug**

f:ajax trigger JSF1098 when execute attribute use a parent component.
EX: "JSF1098: The following clientIds were not visited after a partial traversal: modalForm:j_idt306 .  This is a waste of processor time and could be due to an error in the VDL page."

**To Reproduce**

Steps to reproduce the behavior:
1. Add a button under a form
2. Use a `f:ajax` with `execute="@form"`
3

[2022-09-12 20:25] melloware commented on #5151
Please feel free to submit a PR!

[2022-09-28 13:55] pizzi80 commented on #4946
I'll try to implement this on my forked mojarra!

... I made a PR of my faces.js version but it's still in the air ... :|

https://github.com/eclipse-ee4j/mojarra/pull/5141

[2022-09-28 16:50] melloware commented on #4946
Nice @pizzi80 that would be great.

[2022-10-07 07:07] HKM-CIA opened #5153 "NumberFormatException updating buttons inside facet header of a data table"
**Describe the bug**

updating buttons inside facet header of primefaces p:columns component
leads to a NumberFormatException using Mojarra, works with MyFaces

This problem was first reported to the Primefaces-Team [#9245](https://github.com/primefaces/primefaces/issues/9245)

**To Reproduce**

Steps to reproduce the behavior:
Please use the attached primefaces test project to reproduce the beahv

[2022-10-18 09:18] NicolaIsotta commented on #4260
3.0.2 is affected too. Can the fix be ported to 3.x?

[2022-10-18 11:29] melloware commented on #4260
It is fixed in 3.0 it just has not been released to Maven Central.

[2022-10-18 14:32] BalusC commented on #4260
I've asked at least twice for the exact plan/process yes. Until now it's not terribly clear to me.

[2022-10-19 14:59] rmartinc opened #5155 "NPE in BeanValidator when the ValueReference has no base class"
**Describe the bug**

When the BeanValidator is called with an input that has a expression that has no base class. For example:

[code]
It throws the following NPE:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. You have a reproducer in [this project](https://github.com/jfdenise/jsf-validator-npe) of my colleague Jean François.
2. mvn clean package
3. sh ./target/server/bin/standal

[2022-10-20 10:22] manovotn opened #5157 "CDI bean attribute `beanClass` is not used correctly in CDI extension and producers"
**Describe the bug**

Mojarra registers a lot of synthetic CDI beans via a CDI extension and for all of them it sets a `beanClass` attribute.
Setting this is valid operation but the values used don't make much sense. Currently, the extension [uses `Object` as a basis](https://github.com/eclipse-ee4j/mojarra/blob/master/impl/src/main/java/com/sun/faces/cdi/CdiProducer.java#L52) and each producer th

[2022-10-20 10:28] #5155 closed

[2022-10-20 10:29] BalusC commented on #5155
Makes sense. Thank you for reporting and especially for adding the unit test!

[2022-10-20 10:58] manovotn opened #5159 "`CdiExtension` incorrectly uses `beanClass` as means to determine implementation class of a bean"
**Describe the bug**

In the current state of `CdiExtension`, it uses `Bean#getBeanClass()` to derive the impl class of a bean. [See this code.](https://github.com/eclipse-ee4j/mojarra/blob/master/impl/src/main/java/com/sun/faces/cdi/CdiExtension.java#L127)
This is wrong because there can be three types of beans and this only works as expected with one of them:
* Class-based beans (managed beans)

[2022-10-30 14:43] cristof opened #5160 "Composite component does not reflect locale changes"
**Bug**

According to VDL documentation ([2.3](https://jakarta.ee/specifications/faces/2.3/vdldoc/overview-summary.html), [3.0](https://jakarta.ee/specifications/faces/3.0/vdldoc/), and [4.0](https://jakarta.ee/specifications/faces/4.0/vdldoc/)), "_[t]he normal localization rules for ResourceBundle would apply_" for composite components localized with <composite_component_name>.properties files th

[2022-10-31 07:56] BalusC commented on #5160
Quick review: I noticed that the `getLocalizedProperties()` method was copypasted into both `ClasspathResourceHelper` and `WebappResourceHelper`, which both extend from `ResourceHelper`. Can you please avoid code duplication and move up the method into `ResourceHelper`? See also https://en.wikipedia.org/wiki/Don%27t_repeat_yourself

[2022-10-31 10:54] cristof commented on #5160
Moved the method as requested in all branches, changing the name to getLocalizedPaths because it will return a list of a single path even if the target path is not a properties resource - so it will be the one and only localized path.

[2022-10-31 12:43] cristof commented on #5160
Changed [localized-web](https://github.com/cristof/localized-web) project so it is easier to test the issue and the fix. Added readme with instructions there. As this is my first contribution to mojarra, I'm struggling on how I could add a test into the project.

[2022-11-04 19:02] volosied opened #5164 "Not honoring default value of jakarta.faces.FACELETS_BUFFER_SIZE (1024)"
**Describe the bug**

The default buffer size is not set to 1024, as [specified by the specification. ](https://jakarta.ee/specifications/faces/4.0/jakarta-faces-4.0.html#a6088)
[code]

Tested with jakarta.faces-4.0.0.jar

**To Reproduce**

Steps to reproduce the behavior:
Test a page with:
[code]

**Expected behavior**

1024 should be set.

**Screenshots**

If applicable, add screenshots to help

[2022-11-04 19:04] volosied commented on #5164
https://github.com/eclipse-ee4j/mojarra/blob/master/impl/src/main/java/com/sun/faces/application/view/FaceletViewHandlingStrategy.java#L893-L896

It only calls setResponseBufferSize when the buffer size is set via web.xml.  I think the `if (responseBufferSizeSet) {` should be removed.

[code]

[2022-11-09 10:29] NicolaIsotta opened #5165 "ExternalContext.addResponseCookie does not support different properties"
**Describe the bug**
~~I've added SameSite to my app cookies using [Tomcat Cookie Processor](https://tomcat.apache.org/tomcat-10.0-doc/config/cookie-processor.html).~~ In some cases (eg. PrimeFaces filedownload) the page breaks beacuse of an IllegalArgumentException thrown by mojarra ExternalContextImpl at this line:
https://github.com/eclipse-ee4j/mojarra/blob/e6519892b9b17b268b7c112191da1ba4e56d

[2022-11-09 12:33] melloware commented on #5165
@NicolaIsotta here is what PrimeFaces code does...

[code]

[2022-11-09 14:05] NicolaIsotta commented on #5165
Yeah, I just discovered that Tomcat Cookie Processor is not involved at all. In fact disabling it does not fix the issue.

@BalusC seems like PR #4991 does not work: the default case of the switch cannot be reached since an IllegalArgumentException is thrown by `PREDEFINED_COOKIE_PROPERTIES.valueOf`

[2022-11-09 18:48] BalusC commented on #5165
Excellent find. This badly slipped through because there's no TCK test for that.

[2022-11-12 11:34] #5165 closed

[2022-11-12 13:17] BalusC commented on #5165
Reminder/note to self: TCK couldn't be created because currently used GF 7.0.0-M4 hasn't it implemented yet and because newer milestones are not in central yet. We need to wait until GF 7.0.0 is released.

[2022-11-12 13:57] BalusC commented on #5160
Tests should be added here https://github.com/jakartaee/faces/tree/master/tck

E.g.:
If you've fixed it in 2.3, then add to faces23, it'll also be used against 3.0 and 4.0.
If you've fixed it in 4.0 only, then add to faces40, it won't be used against 2.3 and 3.0.

[2022-11-12 14:00] BalusC commented on #5150
Sorry, I created branch but forgot PR.

[2022-11-12 14:40] BalusC commented on #5153
Reproducer was unusable because PrimeFaces 11.0.8 is in a private repo. I've used 11.0.0 instead which is available in central. I was able to reproduce the problem.

Problem boils down to that client ID row index parser used by standard UIData implementation totally didn't expect an extra naming container ID between the UIData component and the target component because the UIData renderer doesn't

[2022-11-12 15:53] BalusC commented on #5150
Merged into 2.3 and upmerged into 3.0 / 4.0

[2022-11-12 15:53] #5150 closed

[2022-11-12 15:53] BalusC commented on #5164
Merged in 4.0 now.

[2022-11-12 15:53] #5164 closed

[2022-11-12 16:06] BalusC commented on #5151
Technically speaking, JavaScript needs to be adjusted to check if @form is the parent form of current button and if so then skip adding the button ID to the execute string.

[2022-11-12 16:14] prince-jn commented on #5151
@BalusC
Ok. And how do you manage "none". I think it search for none which in fact, does not exist in the component's tree.

[2022-11-12 17:16] BalusC commented on #5151
Norepro for `render="@none"`.

[2022-11-12 21:18] NicolaIsotta opened #5171 "4.0.0: Bean Validation doesn't work in composite components"
**Describe the bug**
Bean validation is not called for values of composite components.

**To Reproduce**
myComposite.xhtml:
[code]
index.xhtml:
[code]
Index.java:
[code]
Just press the button to submit the form
NB: I have a reproducer project if needed

**Expected behavior**
For both inputs validation should be performed. Instead, only the simple input is validated.

**Screenshots**
![mojarra-erro

[2022-11-13 13:13] cristof commented on #5160
Do I have to open another issue there, or I can use this one as reference for pull requests?

[2022-11-13 13:15] melloware commented on #5160
@cristof i think you are safe to refernence this issue and also the MyFaces issue you opened in the TCK test.  It would be a great addition since then MyFaces and Mojarra would have to pass the test!

[2022-11-13 13:33] NicolaIsotta commented on #5171
Overriding getValueReference is not enough, because later it fails in BeanValidator.isResolvable.
I had to bring back ValueExpressionAnalyzer from 3.x to make validation work again.

[2022-11-13 13:34] melloware commented on #5171
@NicolaIsotta did you want to submit a PR for review?

[2022-11-13 13:58] NicolaIsotta commented on #5171
Well I'm not sure bringing back ValueExpressionAnalyzer is the right way, guess they cut it from 4.0 for a good reason?
Maybe @BalusC can enlighten us.
Also I think this needs a test, it's a pretty unpleasant regression (we found unvalidated data in the production db...)
I'll share if I discover anything else.

[2022-11-13 13:59] BalusC commented on #5171
Reproduced. I've added an IT.

[2022-11-13 14:28] BalusC commented on #5171
OK, TCK failed on faces22/cdiMethodValidation .. I'll have to take a second look later.

[2022-11-13 16:17] BalusC commented on #5164
I ran TCK for #5171 and it turns out the following test was failing as regression of this change:

[code]

[2022-11-13 16:38] BalusC commented on #5164
Test itself was illegal. I've fixed it.

[2022-11-13 16:39] BalusC commented on #5171
Hmm .. it was intermittent .. PRs created nonetheless.

[2022-11-13 16:41] BalusC commented on #5171
Hmm .. it was intermittent .. PRs created nonetheless.

- fix: https://github.com/eclipse-ee4j/mojarra/pull/5172
- test: https://github.com/jakartaee/faces/pull/1720

[2022-11-14 20:28] arjantijms commented on #5171
Well, to reduce the overhead of maintaining our own code, in 4.0 we have been replacing code with standard alternatives where available.

Maybe we could / should analyse why exactly the standard version doesn't work correctly, and whether that may be a bug in the expression language implementation library or the spec.

[2022-11-15 14:40] cristof commented on #5160
Created the TCK test and made the [pull request](https://github.com/jakartaee/faces/pull/1721), as [previously asked](https://github.com/eclipse-ee4j/mojarra/issues/5160#issuecomment-1312483426).

[2022-11-15 14:58] melloware commented on #5160
Nice work!

[2022-11-15 19:44] BalusC commented on #5171
@NicolaIsotta has already figured out it. PR has been updated.

[2022-11-16 18:25] BalusC commented on #5171
Merged now.

[2022-11-16 18:25] #5171 closed

[2022-11-16 19:32] BalusC commented on #5140
Fixed it whereby both newly added ITs passed. Will now run entire TCK and see.

[2022-11-16 20:16] BalusC commented on #5140
TCK passed. Two PRs open now.

[2022-11-16 20:31] BalusC commented on #5073
Fix has been released in Mojarra 2.3.18 / 3.0.2 / 4.0.0

[2022-11-16 20:31] #5073 closed

[2022-11-18 08:25] HKM-CIA commented on #5153
@BalusC
Many thanks for your explanation and commitment.

Stephan

Next time i will try to do a more detailed preparatory work.

[2022-11-25 12:31] melloware commented on #5105
Just saw this PR: https://github.com/eclipse-ee4j/mojarra/pull/5179

[2022-11-25 15:40] volosied commented on #5105
Should myfaces also be updated to log a warning, instead of throwing an exception?

[2022-11-25 16:41] melloware commented on #5105
@volosied for consistency i think it should and even log the exact error text of Mojarra so if people look it up on stack overflow etc.?

[2022-11-25 18:23] BalusC commented on #5105
The warning log is merely for backwards compatibilty of Mojarra itself because the spec does still not say what should happen when the f:metadata is not a direct child of f:view. There are basically 3 options:

1. ignore f:metadata and log warning
2. use f:metadata but log warning
3. throw exception

For Faces.next we can set it in stone.

The first technical question is: why would it ever harm if